.modal-signIn {
    .form-signIn {
        padding: 0 15px;
        margin-bottom: 30px;

        .col-md-3 {
            display: flex;
            align-items: center;

            .control-label {
                font: bold 18px $font-consolas;
                margin: 0;
            }
        }

        .form-control {
            background: #f7f7f7;
            border: 1px solid #d7d7d7;
            border-radius: 0;
        }

        .form-baton {
            padding-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btn {
                border-radius: 18px;
                border: none;
                min-width: 130px;
                line-height: 32px;

                i {
                    margin-right: 10px;
                }
            }

            a {
                color: $text-color;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .account-form-social {
        background: #f0eeee;
        padding: 20px 30px;
        margin: 0 -15px 30px -15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            margin: 0;
            font: 18px $font-consolas;
        }

        .social-batons {
            button {
                border: none;
                background: #68a7dc;
                width: 34px;
                line-height: 34px;
                color: #fff;
                font-size: 18px;
                margin-left: 10px;

                &:hover {
                    background: darken(#68a7dc, 5%);
                }
            }
        }
    }

    .account-form-links {
        display: flex;
        align-items: center;
        padding: 0 15px;
        margin-bottom: 20px;
        font: 18px $font-consolas;

        span {
            margin-right: 70px;
        }

        a {
            font-weight: bold;
            display: block;
            background: #f7f7f7;
            border-radius: 22px;
            border: 1px solid #d7d7d7;
            padding: 8px 25px;

            i {
                margin-right: 10px;
                font-size: 22px;
            }

            &:hover {
                text-decoration: none;
                background: darken(#f7f7f7, 5%);
            }
        }
    }
}

.modal-auth {
    .modal-content {
        .modal {
            &-header {
                background: #c9eaff;
                padding: 20px;
                margin: 0 1px 0 0;
                text-transform: uppercase;
                font-weight: bold;

                .modal-close {
                    top: 0;
                    right: 0;
                }
            }

            &-body {
                .auth-type {
                    text-align: center;

                    &__item {
                        margin: 40px 0 60px 0;

                        p {
                            font-size: 18px;
                            font-weight: bold;
                        }

                        .btn {
                            padding: 0 30px;
                            font-size: 18px;
                            line-height: 52px;
                            width: 340px;
                            font-weight: bold;
                            color: #fff;
                            background: $green-color;
                            border-radius: 24px;

                            i {
                                margin-right: 10px;
                            }

                            &:hover {
                                background: darken($green-color, 5%);
                            }
                        }
                    }
                }
            }
        }
    }
}