$product-height: 425px;

.catalog {
    margin-bottom: 20px;
    $image-height: 418px;

    &-nav {
        display: flex;
        justify-content: space-between;
        margin: 0 -8px;
        height: calc(#{$image-height} + 32px);

        @include media-breakpoint('lt-lg') {
            flex-wrap: wrap;
            height: auto;
        }

        a {
            margin: 0 8px;
            flex: 0 0 calc(25% - 16px);
            position: relative;
            height: $image-height;
            overflow: hidden;
            transition: .2s;

            @include media-breakpoint('lt-lg') {
                height: auto;
            }

            @include media-breakpoint('lt-sm') {
                flex: 0 0 calc(50% - 16px);
                margin-bottom: 10px;
                display: flex;
                height: 140px;
                border: 2px solid $primary-color;
            }

            img {
                width: 100%;
                transition: .3s;

                @include media-breakpoint('lt-sm') {
                    object-fit: cover;
                    width: 100%;
                }
            }

            &:nth-child(2n+2) {
                .nav-title {
                    color: #fff;
                }
            }

            &:hover {
                .catalog-nav-content {
                    .nav {
                        &-subtitle {
                            transform: translateY(10px);
                        }

                        &-title {
                            transform: translateY(10px);
                        }
                    }
                }
            }

            &.active {
                height: auto;
                border: 4px solid $primary-color;
                background: $primary-color;
                clip-path: polygon(0 0, 100% 0%, 100% $image-height, 50% 100%, 0 $image-height);

                @include media-breakpoint('lt-sm') {
                    border: 2px solid $primary-color;
                    height: 140px;
                    clip-path: polygon(0 0, 100% 0%, 100% 116px, 50% 100%, 0 116px);
                }

                img {
                    clip-path: polygon(0 0, 100% 0%, 100% calc(#{$image-height} - 8px), 50% 100%, 0 calc(#{$image-height} - 8px));

                    @include media-breakpoint('lt-sm') {
                        clip-path: polygon(0 0, 100% 0%, 100% 112px, 50% 100%, 0 112px);
                    }
                }
            }
        }

        &-content {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            padding: 10px;

            .nav {
                &-subtitle {
                    height: 50px;
                    font-size: 24px;
                    line-height: 1;
                    color: #15a1f9;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: .3s;

                    @include media-breakpoint('lt-sm') {
                        font-size: 13px;
                    }
                }

                &-title {
                    font-size: 2.3em;
                    font-weight: bold;
                    line-height: 1;
                    text-transform: uppercase;
                    transition: .3s;

                    @include media-breakpoint('lt-lg') {
                        font-size: 1.6em;
                    }

                    @include media-breakpoint('lt-sm') {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}

.products {
    margin-top: -10px;
    position: relative;
    z-index: 101 !important;

    @include media-breakpoint('lt-sm') {
        margin-top: 0;
        margin-bottom: 50px;
    }

    &:hover {
        z-index: 100;
    }

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-breakpoint('lt-md') {
            display: block;
        }
    }

    &-title {
        font: italic bold 22px/1 $font-segoe;
        text-transform: uppercase;
        padding: 12px 30px 12px 15px;
        background: $primary-color;
        color: #fff;
        border-radius: 0 40px 0 0;

        @include media-breakpoint('lt-lg') {
            font-size: 18px;
        }

        @include media-breakpoint('lt-md') {
            border-radius: 0 20px 0 0;
            margin-bottom: 10px;
            font-size: 18px;
        }
    }

    &-filter {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        @include media-breakpoint('lt-md') {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        li {
            margin-left: 20px;

            @include media-breakpoint('lt-md') {
                margin: 0 0 10px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }

            @include media-breakpoint('lt-sm') {
                flex: 0 0 calc(50% - 5px);
                border: 1px solid #fff;
            }

            a {
                font-family: $font-consolas;
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                display: inline-block;
                padding: 0 15px;
                text-decoration: none;
                text-shadow: 0 0 16px #fff;

                @include media-breakpoint('lt-lg') {
                    font-size: 16px;
                    line-height: 1.2;
                    white-space: nowrap;
                    padding: 5px;
                }

                @include media-breakpoint('lt-sm') {
                    white-space: normal;
                }

                &:hover {
                    color: #fca207;
                }
            }

            &.active {
                a {
                    color: #fca207;
                }
            }
        }
    }

    &-list {
        padding-bottom: 8px;
        padding-top: 10px;
        margin-bottom: 150px;

        @include media-breakpoint('lt-sm') {
            margin-bottom: 0;
        }

        &:hover {
            z-index: 100;
        }
    }

    &.swiper-container-horizontal {

        >.swiper-scrollbar {
            bottom: auto;
            top: calc(#{$product-height} + 8px);
            left: 0;
            right: 0;
            width: auto;
            height: 3px;
            background: $primary-color;

            @include media-breakpoint('lt-sm') {
                top: calc(100% - 9px);
            }

            .swiper-scrollbar-drag {
                background: $primary-color;
                border: 2px solid #fff;
                height: 12px;
                top: -2px;
            }
        }

        .swiper-button {

            &-next,
            &-prev {
                padding: 10px 25px;
                top: 10px;
                bottom: auto;
                margin: 0;
                width: auto;
                height: calc(#{$product-height} - 3px);
                z-index: 101;
                transition: .3s;
                outline: none;
                border: none;
                background: rgba(255, 255, 255, 0);
                transition: .3s;

                @include media-breakpoint('lt-md') {
                    padding: 10px 5px;
                    display: none;
                }

                &:after {
                    transition: .3s;
                    opacity: 0;
                }

                &:hover {
                    opacity: 1;
                    background: rgba(255, 255, 255, 0.3);

                    &:after {
                        transform: none;
                        opacity: 1;
                    }
                }
            }

            &-next {
                right: 0;
                border-right: 1px solid #c3c3c3;

                &:after {
                    transform: translateX(-10px);
                }
            }

            &-prev {
                left: 0;
                border-left: 1px solid #c3c3c3;

                &:after {
                    transform: translateX(10px);
                }
            }
        }
    }

    .product {
        flex: 0 0 310px;
        height: $product-height;

        @include media-breakpoint('lt-sm') {
            height: auto;
        }

        &-price {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;

            >span {
                color: #c3c3c3;
                font-weight: bold;
                font-size: 18px;
                transition: .3s;
            }
        }
    }
}

.product {
    text-align: center;
    transition: .3s;
    position: relative;
    z-index: 1;

    @include media-breakpoint('lt-sm') {
        height: auto;
    }

    @include media-breakpoint('lt-sm') {

        &-sticker,
        &-tools,
        &-name,
        &-text,
        &-price {
            opacity: 1;
        }
    }

    &.swiper-slide-active,
    &.swiper-slide-next,
    &.swiper-slide-prev {
        .product {

            &-sticker,
            &-tools,
            &-name,
            &-text,
            &-price {
                opacity: 1;
            }
        }

        &:hover {
            transform: translateY(-10px);
            z-index: 100;

            @include media-breakpoint('lt-sm') {
                transform: none;
            }

            .product {
                &__wrapper {
                    box-shadow: 8px 0 19px rgba(0, 0, 0, .19);
                    height: auto;
                }

                &-price {
                    >span {
                        color: #5e9423;
                        font-weight: bold;
                        font-size: 18px;
                    }
                }
                &-name {
                    white-space: normal;
                    overflow: inherit;
                    height: auto;
                }

                &__bottom {
                    height: auto;
                    overflow: initial;
                }
            }
        }
    }

    &__wrapper {
        border: 1px solid #c3c3c3;
        background: #fff;
        position: relative;
        background: #fff;
        padding: 15px;
        width: 310px;
        height: 410px;
        overflow: hidden;
    }

    &__bottom {
        height: 0;
        overflow: hidden;
        transition: .3s;

        @include media-breakpoint('lt-sm') {
            height: auto;
            overflow: initial;
        }
    }

    &-sticker {
        color: #fff;
        position: absolute;
        left: 15px;
        top: 2px;

        >div {
            width: 86px;
            padding: 3px 3px 4px 3px;
            clip-path: polygon(0 0, 100% 0%, 100% 34px, 50% 100%, 0 34px);

            &.stiсker-akcia {
                background: #fca207;

                span {
                    background: #fca207;
                }
            }

            &.sticker-novinka {
                background: $second-color;

                span {
                    background: $second-color;
                }
            }

            p {
                margin: 0;
                padding: 2px;
                clip-path: polygon(0 0, 100% 0%, 100% 29px, 50% 100%, 0 29px);
                background: #fff;
            }

            span {
                display: block;
                clip-path: polygon(0 0, 100% 0%, 100% 25px, 50% 100%, 0 25px);
                text-transform: uppercase;
                font: bold 18px $font-consolas;
                padding: 4px;
                text-align: center;
                height: 38px;
            }

        }
    }

    &-tools {
        position: absolute;
        top: 17px;
        right: 15px;

        a {
            margin: 0 4px;
        }
    }

    &-image {
        margin-bottom: 10px;
        height: 250px;
        display: flex;
        justify-content: center;

        &.image-preview--loading {
            background: url(../images/ajax-loader.gif) no-repeat center center;
        }

        &.image-preview--init {
            img {
                display: inline-block;
            }
        }

        img {
            object-fit: contain;
            max-height: 100%;
            max-width: 100%;
        }
    }

    &-name {
        font-size: 27px;
        line-height: 1.2;
        white-space: nowrap;
        height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-text {
        font-family: $font-consolas;
        font-size: 15px;
        color: #2b2b2b;
        margin-bottom: 10px;
    }

    &-buttons {
        text-align: center;
        margin-bottom: 15px;

        button {
            border: none;
            margin: 0 auto 10px auto;
            background: #5e9423;
            color: #fff;
            width: 140px;
            height: 40px;
            border-radius: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s;

            i {
                margin-right: 10px;
            }

            &:hover {
                background: darken(#5e9423, 10%);
            }
        }
    }

    &-gallery {
        padding: 0 25px;
        margin-bottom: 15px;

        &:not(.slick-slider) {
            display: flex;
            justify-content: center;

            .gallery-item {
                flex: 0 0 25%;
            }
        }

        .gallery-item {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #e6e6e6;
            border: 2px solid #e6e6e6;
            height: 35px;

            img {
                object-fit: cover;
                max-width: 100%;
                max-height: 100%;
                margin: 0 auto;
            }

            &:hover,
            &.current {
                border-color: $second-color;
            }
        }

        .slick-slide {
            background: #e6e6e6;

            >div {
                display: flex;
            }
        }
    }

    &-link {
        font: 14px $font-consolas;
        color: $primary-color;

        i {
            margin-left: 10px;
        }
    }
}

.price-hint {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    z-index: 20;

    &:hover {
        .price-hint-content {
            opacity: 1;
            visibility: visible;
            transform: none;
        }
    }

    >a {
        cursor: pointer;
        display: block;
        width: 18px;
        height: 18px;
        background: #f9eea6;
        border-radius: 50%;
        font-size: 12px;
        color: #2b2b2b;
        position: relative;
        z-index: 10;
        text-align: center;
    }

    &-content {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 0;
        left: -12px;
        padding-bottom: 26px;
        transition: .3s;
        transform: translateY(5px);

        @include media-breakpoint('lt-xl') {
            left: -130px;
        }

        &__inner {
            width: 200px;
            background: #fff;
            border: 4px solid #fca207;
            padding: 10px;
            border-radius: 6px;
            font: 14px $font-consolas;
            position: relative;
            box-shadow: 0 5px 16px rgba(0, 0, 0, .2);
            text-align: center;

            &:before,
            &:after {
                content: '';
                border-style: solid;
                display: block;
                height: 0;
                position: absolute;
                width: 0;
            }

            &:before {
                border-width: 14px 8px 0 4px;
                border-color: #fca207 transparent transparent transparent;
                bottom: -14px;
                left: 12px;

                @include media-breakpoint('lt-xl') {
                    left: 130px;
                }
            }

            &:after {
                border-width: 7px 3px 0 3px;
                border-color: #fff transparent transparent transparent;
                bottom: -6px;
                left: 14px;

                @include media-breakpoint('lt-xl') {
                    left: 132px;
                }
            }

            a {
                display: block;
                width: 155px;
                border: 1px solid $primary-color;
                border-radius: 16px;
                color: $primary-color;
                background: #fff;
                display: block;
                margin: 0 auto;
                font: 15px $font-consolas;

                &:hover {
                    background: $primary-color;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

.product-sticker2 {
    position: absolute;
    top: 15px;
    z-index: 10;
    left: 0;
    color: #fff;
    text-transform: uppercase;
    font: 12px/24px $font-consolas;

    .stiсker {
        padding: 0 10px;
        margin-bottom: 5px;
        position: relative;

        &:before,
        &:after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
            right: -5px;
        }

        &:before {
            bottom: 0;
            border-width: 12px 0 0 5px;
        }

        &:after {
            top: 0;
            border-width: 12px 5px 0 0;
        }

        &-novinka {
            background: #f0c832;

            &:before {
                border-color: transparent transparent transparent #f0c732;
            }

            &:after {
                border-color: #f0c732 transparent transparent transparent;
            }
        }

        &-akcia {
            background: #c95d4c;

            &:before {
                border-color: transparent transparent transparent #c95d4c;
            }

            &:after {
                border-color: #c95d4c transparent transparent transparent;
            }
        }
    }
}