.modal-preview {
    .modal {
        &-dialog {
            min-width: 960px;

            @include media-breakpoint('lt-md') {
                min-width: 90%;
                width: 90%;
            }
        }

        &-body {
            padding: 0 15px;
        }

        &-content {
            position: relative;
            border-radius: 6px;
            box-shadow: 0px 0 12px rgba(0, 0, 0, 0.5);

            .modal-header {
                border: none;
                min-height: 50px;
            }

        }
    }

    .nav-arrows {
        button {
            background: none;
            border: none;
            padding: 0;
            font-size: 42px;
            line-height: 1;
            top: 50%;
            margin-top: -34px;
            position: absolute;
            width: 42px;
            height: 42px;
            color: #fff;
            transition: .3s;
            outline: none;

            @include media-breakpoint('lt-md') {
                z-index: 100;
                width: 32px;
                height: 32px;
                font-size: 36px;
            }

            @include media-breakpoint('lt-sm') {
                top: auto;
                margin-top: 0;
                bottom: 10px;
                color: #ccc;
                border-radius: 50%;
                border: 2px solid #ccc;
                font-size: 22px;
            }

            &.nav-arrows__left {
                left: -75px;

                @include media-breakpoint('lt-md') {
                    left: -35px;
                }

                @include media-breakpoint('lt-sm') {
                    left: 10px;
                }

                &:hover {
                    left: -80px;

                    @include media-breakpoint('lt-md') {
                        left: -40px;
                    }

                    @include media-breakpoint('lt-sm') {
                        left: 5px;
                    }
                }
            }

            &.nav-arrows__right {
                right: -75px;

                @include media-breakpoint('lt-md') {
                    right: -35px;
                }

                @include media-breakpoint('lt-sm') {
                    right: 10px;
                }

                &:hover {
                    right: -80px;

                    @include media-breakpoint('lt-md') {
                        right: -40px;
                    }

                    @include media-breakpoint('lt-sm') {
                        right: 5px;
                    }
                }
            }

            &:hover {
                color: $second-color;
            }
        }
    }
}

.product-preview {
    margin: 0 20px 40px 0;

    @include media-breakpoint('lt-sm') {
        margin: 0 0 50px 0;
    }

    &__name {
        padding-bottom: 15px;
        margin-bottom: 25px;
        border-bottom: 1px dotted #d0cfcf;
    }

    &.single-product {
        @include media-breakpoint('lt-sm') {
            padding: 0;
        }

        .product-images {
            margin-bottom: 40px;
            opacity: 0;
            height: 0;
            transition: .3s;

            &.opened {
                opacity: 1;
                height: auto;
            }
        }

        .post {
            margin: 0 20px 20px;

            @include media-breakpoint('lt-sm') {
                margin: 0 0 40px;
            }
        }
    }

    .single-product {

        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: none;
            margin: 0 0 20px 0;
            padding: 0;

            .product-sticker {
                position: inherit;
                top: auto;
                left: auto;
            }
        }

        &__price {
            margin-bottom: 25px;
        }

        &__counter {
            padding-bottom: 15px;
        }

        &__share {
            justify-content: flex-start;

            @include media-breakpoint('lt-sm') {
                justify-content: center;
                margin-bottom: 40px;
            }
        }

        &__tools {
            justify-content: flex-start;

            a {
                margin: 0 20px 0 0;

                @include media-breakpoint('lt-md') {
                    margin: 0 20px 15px 0;
                    font-size: 14px;
                }

            }
        }
    }
}