.recomend-products {
    padding: 20px;
    margin-bottom: 75px;
    background: #fff;

    .recomend-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -7px;
        padding-bottom: 20px;

        .product {
            flex: 0 0 calc(20% - 14px);
            margin: 0 7px;
        }
    }
}