.sidebar {
    position: relative;

    &__inner {
        position: sticky;
        top: 10px;
    }

    &-title {
        margin-bottom: 25px;
        font-size: 24px;
    }

    .categories {
        margin-bottom: 35px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            a {
                color: #3d3d3d;
                position: relative;
                font: 17px/1.1 $font-consolas;
                text-decoration: none;
            }

            >li {
                margin-bottom: 5px;

                &.has-child {
                    display: block;

                    >a {
                        padding-right: 15px;
                        position: relative;

                        &:after {
                            @extend %fontawesome;
                            content: "\f107";
                            display: block;
                            position: absolute;
                            right: 0;
                            top: 10px;
                            font-size: 16px;
                            line-height: 1;
                            color: #b1b1b1;
                        }
                    }
                }

                &.active {
                    >a {
                        color: $primary-color;
                    }

                    >ul {
                        display: block;
                    }

                    &.has-child {
                        >a {

                            &:after {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }

                >a {
                    display: flex;
                    align-items: center;

                    &:hover {
                        color: $primary-color;

                        &:after {
                            color: $primary-color;
                        }
                    }

                    img {
                        width: 40px;
                        height: auto;
                        margin-right: 7px;
                    }

                    span {
                        word-spacing: -5px;

                        span {
                            letter-spacing: -2px;
                            color: $green-color;
                            display: inline;
                        }
                    }
                }

                >ul {
                    display: none;
                    padding: 5px 0 5px 45px;

                    >li {
                        margin: 0 0 10px 0;

                        >a {
                            font-size: 15px;
                            padding-left: 22px;

                            &:before {
                                content: "";
                                display: block;
                                width: 14px;
                                height: 14px;
                                background: #fff;
                                border: 2px solid #d6d6d6;
                                border-radius: 4px;
                                position: absolute;
                                left: 0;
                                top: 1px;
                            }

                            &:after {
                                @extend %fontawesome;
                                content: "\f00c";
                                display: block;
                                position: absolute;
                                left: 3px;
                                top: 2px;
                                font-size: 10px;
                                color: $primary-color;
                                opacity: 0;
                                visibility: hidden;
                            }

                            &:hover {
                                color: lighten(#679cba, 5%);
                            }

                        }

                        &.active {
                            >a {
                                color: lighten(#679cba, 5%);

                                &:after {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .call-us {
        background: #c9eaff;
        text-align: center;

        img {
            width: 100%;
        }

        &__phone {
            padding: 15px 0;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 27px;
                font-weight: bold;
                color: $primary-color;
                text-decoration: none;

                i {
                    margin-right: 10px;
                }

                &:hover {
                    color: $orange-color;
                }
            }
        }
    }

    .sidebar-products {
        .product-item {
            border-bottom: 1px dotted #bdbcbc;
            padding-bottom: 15px;
            margin-bottom: 15px;
            display: flex;

            &__image {
                flex: 0 0 90px;
                margin: 0 10px 0;
            }

            &__title {
                color: #17618b;
                font-size: 18px;
                line-height: 1.2;

                &:after {
                    content: "";
                    display: block;
                    height: 2px;
                    width: 32px;
                    background: #d3d3d3;
                    margin: 8px 0;
                }

                a {
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .product-price {
                font-size: 21px;

                &-old {
                    font-size: 18px;
                    margin-left: 10px;
                }
            }
        }
    }
}