<div class="modal fade modal-form modal-auth" id="authTypeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                Авторизация
                <button class="modal-close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip"
                    title="Закрыть">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="auth-type">
                    <div class="auth-type__item">
                        <p>Покупки на любую сумму</p>
                        <button class="btn"><i class="fa fa-th-large"></i> Я розничный
                            покупатель</button>
                    </div>
                    <div class="auth-type__item">
                        <p>Оптовая закупка от 15 000 рублей</p>
                        <button class="btn"><i class="fa fa-th"></i> Я оптовый покупатель</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>