<div class="benefits">
    <div class="benefit-item">
        <div class="benefit-item__icon">
            <img src="images/demo/benefit1.png" alt="">
        </div>
        <div class="benefit-item__text">БЕСПЛАТНАЯ ДОСТАВКА<br>
            ЗАКАЗА СВЫШЕ 799 руб.</div>
    </div>
    <div class="benefit-item">
        <div class="benefit-item__icon">
            <img src="images/demo/benefit2.png" alt="">
        </div>
        <div class="benefit-item__text">ЗВОНИТЕ В ЛЮБОЕ ВРЕМЯ:<br>
            8-800-968-58-87</div>
    </div>
    <div class="benefit-item">
        <div class="benefit-item__icon">
            <img src="images/demo/benefit3.png" alt="">
        </div>
        <div class="benefit-item__text">100% ГАРАНТИЯ<br>
            ВОЗВРАЩЕНИЯ ОПЛАТЫ</div>
    </div>
    <div class="benefit-item">
        <div class="benefit-item__icon">
            <img src="images/demo/benefit4.png" alt="">
        </div>
        <div class="benefit-item__text">СЕРВИС<br>
            30-ДНЕВНОГО ВОЗВРАТА</div>
    </div>
    <div class="benefit-form">
        <form action="">
            <p>Получить 30% скидку</p>
            <input type="email" class="form-control" placeholder="Ваш e-mail">
            <button>Отправить</button>
        </form>
    </div>
</div>