<section class="help-section" style="background-image:url(images/help_form.jpg)">
    <div class="container">
      <form action="" class="help-form">
        <div class="col-text">
          <h2>Сложно ОПРЕДЕЛИТЬСЯ?</h2>
          <span>Оставьте свой номер телефона и наш консультант поможет вам с выбором наиболее подходящих товаров:</span>
        </div>
        <div class="form-input">
          <input class="form-control" type="tel" placeholder="Ваш телефон" tabindex="0">
          <button tabindex="0">Отправить</button>
        </div>
      </form>
      <div class="help-phone">
        <span>Или позвоните по номеру:</span>
        <a href="tel:88009685887" tabindex="0"><i class="appicon appicon-phone-dark"></i>
          8-800-968-58-87</a>
      </div>
    </div>
  </section>