<div class="pagination">
    <a class="pagination__prev" href="#">
        <span><i class="fas fa-long-arrow-alt-left"></i></span> Назад</a>
    <span class="link-page active">1</span>
    <a class="link-page" href="#">2</a>
    <a class="link-page" href="#">3</a>
    <a class="link-page" href="#">4</a>
    <a class="link-page" href="#">5</a>
    <a class="link-page" href="#">6</a>
    <a class="link-page" href="#">7</a>
    <a class="pagination__next" href="#">
        Вперед <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
</div>