<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <title>@@title | Dolina Aistov</title>
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header id="header" class="header@@headerClass">
        <div class="header-site">
            <div class="container">
                <div class="header-site__inner">
                    <div class="inner-row">
                        <a class="logo" href="#"><img src="images/logo.png" alt=""></a>
                        <div class="col-delivary">
                            <i class="appicon appicon-truck-dark"></i> 5 мая
                        </div>
                        <div class="col-phone">
                            <span><i class="appicon appicon-phone-dark"></i> 8-800-968-58-87</span>
                            <a href="#" class="link-callback">Заказать звонок</a>
                        </div>
                        <div class="col-cart">
                            <a href="#"><i class="appicon appicon-cart-dark"></i> <span>Сделать заказ</span></a>
                        </div>
                        <div class="col-account">
                            <ul class="socials">
                                <li><a href="#"><i class="appicon appicon-twitter"></i></a></li>
                                <li><a href="#"><i class="appicon appicon-youtube"></i></a></li>
                                <li><a href="#"><i class="appicon appicon-facebook"></i></a></li>
                            </ul>
                            <a class="link-account" href="#" href="#" data-dismiss="modal" data-toggle="modal"
                                data-target="#signInModal"><i class="appicon appicon-exit"></i> Выйти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            @@include('../includes/navi.html')
        </div>
    </header>