<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <title>@@title | Dolina Aistov</title>
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header id="header" class="header front-page">
        <div class="header-top">
            <div class="container">
                <div class="header-top__inner">
                    <div class="row align-items-center">
                        <div class="col-md-4 col-delivary">
                            <i class="appicon appicon-truck"></i> Ближайшая доставка 5 мая
                        </div>
                        <div class="col-md-5 col-phone">
                            <span><i class="appicon appicon-phone"></i> 8-800-968-58-87</span>
                            <a href="#" class="link-callback">Заказать звонок</a>
                        </div>
                        <div class="col-auto col-account">
                            <ul class="socials">
                                <li><a href="#"><i class="appicon appicon-twitter"></i></a></li>
                                <li><a href="#"><i class="appicon appicon-youtube"></i></a></li>
                                <li><a href="#"><i class="appicon appicon-facebook"></i></a></li>
                            </ul>
                            <a class="link-account" href="#" data-dismiss="modal" data-toggle="modal"
                            data-target="#signIn"><i class="appicon appicon-user"></i> Войти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="header-main">
                <div class="header-main__inner">
                    <div class="logo"><a href="#"><img src="images/logo.png" alt=""></a></div>
                    <div class="site-name">Фермерские продукты из козьего молока</div>
                </div>
            </div>
            @@include('../includes/navi.html')
        </div>
    </header>