.cart {
    font-family: $font-consolas;

    .btn-cart-clear {
        background: none;
        border: none;
        border-radius: 18px;
        font-size: 14px;
        line-height: 32px;
        padding: 0 10px;

        &:hover {
            background: #f1f1f1;
            color: #ff0000;

            i {
                color: #ff0000;
            }
        }

        i {
            color: #717171;
            font-size: 14px;
            position: relative;
            top: 1px;
        }
    }

    .cart {
        &-top {
            background: #c9eaff;
            padding: 5px 20px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }

        &-heading {
            font-size: 26px;
            color: #222;
            text-transform: uppercase;
        }

        &-filter {
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            >div {
                display: flex;
                align-items: center;

                >span {
                    margin-right: 10px;
                    flex: 1 0 auto;
                }
            }

            &__date {
                >span {
                    color: #3d3d3d;
                    font-size: 18px;
                }

                .form-date-input {
                    width: 190px;
                }
            }

            &__sort {
                margin-left: 20px;

                >span {
                    color: #919191;
                    font-size: 16px;
                }

                .dropdown {
                    width: 190px;

                    .dropdown-toggle {
                        background: #fbfbfb;
                        border: 1px solid #d8d8d8;

                        &:hover {
                            border-color: $second-color;
                        }
                    }
                }
            }
        }

        &-group {
            &-item {
                margin-bottom: 40px;
            }

            &__top {
                padding: 10px 0;
                font-size: 18px;
                color: $orange-color;

                strong {
                    text-transform: uppercase;
                }
            }

            &__table {
                overflow: auto;

                table {
                    width: 100%;
                    border: 1px solid #d2d2d2;

                    th,
                    td {
                        text-align: center;
                        border-right: 1px dotted #9f9f9f;
                        border-bottom: 1px solid #d2d2d2;
                        padding: 15px 10px;

                        &:first-of-type {
                            border-left: 1px solid #d2d2d2;
                        }

                        &:last-of-type {
                            border-right: none;
                        }
                    }

                    thead {
                        th {
                            white-space: nowrap;
                            background: #f1f1f1;
                            font-size: 18px;
                            font-weight: bold;
                            color: #3d3d3d;
                            text-transform: uppercase;
                        }
                    }

                    tbody {
                        .cart-item {
                            &:hover {
                                td {
                                    background: #fdfcfc;
                                }
                            }

                            &__product {
                                text-align: left;

                                a {
                                    display: flex;
                                    text-decoration: none;
                                    color: #17619e;

                                    &:hover {
                                        color: $orange-color;
                                    }

                                    .item-image {
                                        flex: 0 0 60px;
                                        margin-right: 10px;
                                    }

                                    .item-name {
                                        flex: 1 1 auto;

                                        .item-title {
                                            font: 18px $font;
                                        }

                                        p {
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }

                            &__option {
                                white-space: nowrap;
                                padding: 5px 0;
                                height: 42px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            &__value,
                            &__price {
                                font-size: 22px;
                                word-spacing: -7px;
                            }

                            &__price {
                                .product-price {
                                    font-size: 22px;
                                    font-weight: bold;
                                }
                            }

                            &__counter {
                                .input-counter {
                                    display: flex;
                                    justify-content: center;
                                    margin: 0;

                                    .btn {
                                        font-size: 18px;
                                        font-weight: bold;

                                        &:hover {
                                            color: $second-color;
                                        }
                                    }

                                    .input-group-text {
                                        width: 44px;
                                        background: 0;
                                        padding: 0;
                                        border: none;

                                        input {
                                            border: 1px solid #d8d8d8;
                                            border-radius: 16px;
                                            background: #fbfbfb;
                                            font-size: 12px;
                                            line-height: 22px;
                                            text-align: center;
                                            padding: 0;
                                            width: 100%;
                                            height: auto;
                                        }
                                    }
                                }
                            }

                            &__sum {
                                .product-price {
                                    font-size: 22px;
                                    font-weight: bold;
                                    color: #3d3d3d;
                                }
                            }

                            &__actions {
                                width: 120px;

                                >div {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }

                                a {
                                    font-size: 18px;
                                    color: $primary-color;
                                    margin: 0 7px;
                                    cursor: pointer;

                                    &:hover {
                                        opacity: .7;
                                    }

                                    &.in-cart {
                                        color: $orange-color;
                                    }
                                }

                                .checkbox {
                                    display: inline-block;
                                    margin: 0 7px;
                                }

                                .btn-cart-remove {
                                    border: none;
                                    background: none;
                                    color: #3d3d3d;
                                    font-size: 18px;
                                    line-height: 1;
                                    margin: 0 7px;

                                    &:hover {
                                        color: #ff0000;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &__bottom {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                border: 1px solid #d2d2d2;
                border-top: none;
                font-size: 18px;

                >div {
                    padding: 10px;
                }

                .group {

                    &-date {
                        display: flex;
                        align-items: center;
                        border-right: 1px solid #d2d2d2;

                        >span {
                            color: #3d3d3d;
                            font-size: 18px;
                            margin-right: 10px;
                        }

                        .form-date-input {
                            width: 190px;
                        }
                    }

                    &-status {
                        flex: 0 1 220px;
                        border-right: 1px solid #d2d2d2;

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: #f1f1f1;
                            border-radius: 18px;
                            font-size: 16px;
                            line-height: 36px;
                            color: $text-color;

                            &:hover {
                                text-decoration: none;
                                background: darken(#f1f1f1, 5%);
                            }

                            i {
                                font-size: 24px;
                                color: $orange-color;
                                margin: 0 10px 0 5px;
                            }
                        }
                    }

                    &-counter {
                        strong {
                            font-size: 24px;
                        }
                    }

                    &-sum {
                        margin-left: auto;
                        font-size: 24px;
                        font-weight: bold;
                    }

                    &-action {}
                }
            }
        }

        &-checkout {
            background: #f1f1f1;
            padding: 30px 25px;
            margin-bottom: 60px;

            &__form {
                .control-label {
                    font-size: 18px;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                .form-group {
                    margin-bottom: 10px;

                    .form-control {
                        border-radius: 3px;
                    }
                }

                textarea.form-control {
                    height: 85px;
                    resize: none;
                }

                .form-bottom {
                    padding: 20px 0 10px 0;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    &__links {
                        a {
                            display: inline-block;
                            line-height: 42px;
                            background: #dbdbdb;
                            font-size: 16px;
                            padding: 0 20px;
                            color: #3d3d3d;
                            text-transform: uppercase;
                            border-radius: 18px;

                            &:hover {
                                text-decoration: none;
                                background: darken(#dbdbdb, 5%);
                            }

                            i {
                                margin-left: 5px;
                            }
                        }
                    }

                    &__batons {
                        margin-left: auto;

                        .btn {
                            line-height: 40px;
                            height: auto;
                            border-radius: 22px;
                            padding: 0 20px;

                            &-link {
                                color: #3d3d3d;

                                &:hover {
                                    text-decoration: none;
                                    background: darken(#dbdbdb, 5%);
                                }
                            }

                            &-default {
                                border: 1px solid $green-color;
                                color: $green-color;
                                font-weight: bold;
                                text-transform: uppercase;
                                min-width: 200px;

                                &:hover {
                                    background: $green-color;
                                    color: #fff;
                                }
                            }

                            &-primary {
                                border: 1px solid $green-color;
                                color: #fff;
                                min-width: 200px;

                                i {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &-retail {
        .cart-top {
            background: none;
            padding: 0;
            margin-bottom: 30px;
        }

        .cart-group__table {
            margin-bottom: 20px;

            table {
                border: none !important;

                th,
                td {
                    border: none !important;
                }

                tbody {
                    td {
                        border-bottom: 1px solid #d8d8d8 !important;
                    }

                    .cart-item {

                        &__image {
                            width: 120px;

                            .item-image {
                                position: relative;
                                width: 100%;

                                .product-sticker2 {
                                    font-size: 9px;
                                    line-height: 16px;
                                    top: 0;
                                    left: -10px;

                                    .sti—Åker {
                                        padding: 0 5px;

                                        &:before {
                                            border-width: 7px 0 0 5px;
                                        }

                                        &:after {
                                            border-width: 7px 5px 0 0;
                                        }
                                    }
                                }
                            }
                        }

                        &__name {
                            text-align: left;
                            width: 45%;

                            a {
                                font-size: 24px;
                                font-weight: bold;
                                color: $primary-color;
                                margin-right: 15px;

                                &:hover {
                                    text-decoration: none;
                                    color: $orange-color;
                                }
                            }

                            span {
                                font-size: 12px;
                            }
                        }
                    }
                }

                tfoot {
                    td {
                        border: none;
                        font-size: 18px;

                        .product-price {
                            font-size: 22px;
                            color: #3d3d3d;
                        }
                    }
                }
            }
        }

        .cart-checkout {
            padding: 12px 15px;

            .form-bottom {
                padding: 0;
            }
        }
    }
}

.cart-summary {
    position: fixed;
    left: 50%;
    margin-left: $container-width/2;
    bottom: 100px;
    z-index: 101;

    &-inner {
        width: 310px;
        background: #fff;
        border: 1px solid #8f8f8f;
        border-top: 3px solid $second-color;
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, .3);
    }

    .cart-summary {
        &__header {
            border-bottom: 1px solid #cfcfcf;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;

            a {
                color: #373737;
                font-size: 16px;
                font-weight: bold;
                display: flex;
                align-items: center;

                i {
                    margin-left: auto;
                    color: #717171;
                    font-size: 18px;
                }

                &:hover {
                    color: $orange-color;
                    text-decoration: none;

                    i {
                        color: $orange-color;
                    }
                }
            }
        }

        &__body {
            padding: 20px;
            border-bottom: 1px solid #cfcfcf;
            font-size: 18px;

            h3 {
                margin: 0 0 5px 0;
                color: $primary-color;
                font-size: 24px;
            }

            p {
                margin: 0 0 5px 0;
            }

            span {
                color: $primary-color;
            }
        }

        &__bottom {
            padding: 20px;
            text-align: center;

            .btn {
                padding: 0 15px;
                border-radius: 22px;
                line-height: 46px;
                min-width: 200px;
                border: none;

                i {
                    margin-right: 10px;
                }
            }
        }
    }
}