.section-slogan {
    margin-bottom: 80px;
    margin-top: -150px;
    padding-top: 150px;
    position: relative;
    z-index: 10;

    @include media-breakpoint('lt-sm') {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 60px;
    }

    &__content {
        position: absolute;
        left: 0;
        bottom: 50px;
        z-index: 10;
        font: $font-consolas;

        @include media-breakpoint('lt-sm') {
            position: initial;
            left: auto;
            bottom: auto;
        }

        .slogan {
            &-heading {
                padding: 5px 48px;
                font-size: 36px;
                line-height: 1.3;
                color: #fff;
                background: rgba(144, 189, 15, .84);

                @include media-breakpoint('lt-sm') {
                    padding: 5px 15px;
                    font-size: 24px;
                }
            }

            &-text {
                background: #b9e636;
                padding: 5px 48px;
                font-size: 16px;
                color: #0c4f45;
                max-width: 520px;

                @include media-breakpoint('lt-sm') {
                    padding: 5px 15px;
                    font-size: 14px;
                }
            }
        }
    }
}

.section-special {
    margin-bottom: 95px;

    @include media-breakpoint('lt-sm') {
        margin-bottom: 50px;
    }

    .special {
        &-item {
            position: relative;
            font-family: $font-consolas;
            margin-top: 12px;
            background: no-repeat center top;
            background-size: cover;
        }

        &-name {
            background: $orange-color;
            width: 400px;
            position: absolute;
            z-index: 10;
            left: 0;
            top: -12px;
            padding: 4px;
            clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);

            @include media-breakpoint('lt-sm') {
                width: 90%
            }

            &__inner {
                background: #fff;
                padding: 2px;
                clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);

                span {
                    display: block;
                    padding: 0 15px;
                    line-height: 1.6;
                    font-size: 30px;
                    font-weight: bold;
                    text-align: center;
                    color: #fff;
                    background: $orange-color;
                    clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);

                    @include media-breakpoint('lt-sm') {
                        padding: 5px 10px;
                        font-size: 20px;
                    }
                }
            }
        }

        &__content {
            padding: 60px 90px 60px 90px;

            @include media-breakpoint('lt-md') {
                position: inherit;
                padding: 40px 15px 40px 15px;
            }
        }

        &-discont {
            display: flex;
            align-items: center;
            color: $orange-color;
            font-size: 30px;
            margin-bottom: 10px;

            @include media-breakpoint('lt-sm') {
                font-size: 20px;
                flex-wrap: wrap;
                text-align: center;
                justify-content: center;
            }

            span {
                display: block;
                width: 162px;
                height: 127px;
                background: url(../images/discont_bg.png) no-repeat 0 0;
                background-size: cover;
                font-size: 60px;
                margin-right: 10px;
                padding: 15px 0;
            }
        }

        &-form {
            margin-bottom: 15px;
            display: flex;
            align-items: center;

            @include media-breakpoint('lt-sm') {
                flex-wrap: wrap;
            }

            .col-text {
                font-size: 22px;
                line-height: 1.3;
                color: #fff;
                margin-bottom: 15px;
                margin-right: 35px;

                @include media-breakpoint('lt-md') {
                    font-size: 18px;
                }

                @include media-breakpoint('lt-sm') {
                    font-size: 16px;
                    text-align: center;
                    flex: 0 0 100%;
                }
            }

            .form-input {
                flex: 0 0 380px;
                position: relative;
                margin-bottom: 15px;

                @include media-breakpoint('lt-sm') {
                    flex: 0 0 100%;
                }

                .form-control {
                    display: block;
                    width: 100%;
                    height: 56px;
                    padding: 12px 190px 12px 20px;
                    border: none;
                    background: rgba(255, 255, 255, .75);
                    border-radius: 32px;
                    color: $primary-color;
                    font-size: 18px;
                    transition: .3s;
                    outline: none;

                    @include media-breakpoint('lt-md') {
                        font-size: 14px;
                    }

                    @include media-breakpoint('lt-sm') {
                        padding-right: 130px;
                    }

                    &:focus {
                        background: rgba(255, 255, 255, 1);
                    }
                }

                button {
                    background: $second-color;
                    text-align: center;
                    width: 175px;
                    height: 56px;
                    border-radius: 32px;
                    border: none;
                    text-transform: uppercase;
                    position: absolute;
                    top: 10px;
                    right: 7px;
                    font-size: 18px;
                    color: #fff;
                    transition: .3s;

                    @include media-breakpoint('lt-md') {
                        width: 120px;
                        height: 48px;
                        font-size: 14px;
                    }

                    &:hover {
                        background: darken($second-color, 10%);
                    }
                }
            }
        }

        &-phone {
            display: flex;
            align-items: center;

            @include media-breakpoint('lt-sm') {
                flex-wrap: wrap;
                text-align: center;
                margin-bottom: 50px;
            }

            span {
                font-size: 24px;
                color: $second-color;
                margin-right: 30px;

                @include media-breakpoint('lt-sm') {
                    flex: 0 0 100%;
                    font-size: 18px;
                    margin: 0 0 10px 0;
                }
            }

            a {
                color: #fff;
                font-size: 30px;
                font-weight: bold;
                display: flex;
                align-items: center;
                text-decoration: none;
                transition: .3s;

                @include media-breakpoint('lt-sm') {
                    flex: 0 0 100%;
                    font-size: 24px;
                    justify-content: center;
                }

                i {
                    margin-right: 10px;
                }

                &:hover {
                    color: $orange-color;
                }
            }
        }
    }

    .slick-dots {
        bottom: 20px;

        li {
            margin: 0 6px;

            button {
                background: rgba(255, 255, 255, .17);
                border: 2px solid rgba(255, 255, 255, .54);
                width: 17px;
                height: 17px;

                &:hover {
                    background: rgba(255, 255, 255, .17);
                    border: 2px solid rgba(255, 255, 255, 1);
                }
            }

            &.slick-active {
                button {
                    background: $second-color;
                    border: 2px solid rgba(255, 255, 255, 1);
                }
            }
        }
    }

    .slick-arrow {
        display: none !important;
        font-size: 3em;
        color: #fff;
        opacity: .7;

        &:hover {
            color: $primary-color;
        }

        &.slick-prev {
            left: 10px;
        }

        &.slick-next {
            right: 10px;
        }
    }
}

.section-digits {
    margin-bottom: 45px;
    position: relative;
    background: no-repeat center bottom;
    background-size: cover;

    .digits {
        &-list {
            position: absolute;
            top: -25px;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            @include media-breakpoint('lt-md') {
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .digit {
                flex: 0 0 190px;
                margin: 0 11px;
                padding: 15px;
                background: $second-color;
                display: flex;
                flex-direction: column;
                justify-self: center;
                align-items: center;
                color: #fff;
                border-radius: 6px;

                @include media-breakpoint('lt-md') {
                    flex: 0 0 calc(50% - 20px);
                    margin: 0 10px 10px 10px;
                }

                strong {
                    font-size: 48px;
                    line-height: 1;

                    @include media-breakpoint('lt-md') {
                        font-size: 36px;
                    }
                }

                p {
                    font-size: 27px;
                    margin: 0;

                    @include media-breakpoint('lt-md') {
                        font-size: 20px;
                    }
                }
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #fff;
            text-align: center;
            padding: 150px 15px 60px 460px;

            @include media-breakpoint('lt-md') {
                padding: 220px 15px 40px 15px;
            }

            p {
                font: 30px/1.2 $font-segoe;
                margin-bottom: 15px;

                @include media-breakpoint('lt-md') {
                    font-size: 22px;
                }

            }

            span {
                display: block;
                font-size: 38px;
                text-transform: uppercase;

                @include media-breakpoint('lt-md') {
                    font-size: 32px;
                }
            }
        }
    }
}

.section-about {
    height: 475px;
    background: url(../images/about_bg.png) no-repeat calc(50% - 50px) top;
    position: relative;

    @include media-breakpoint('lt-lg') {
        height: auto;
    }

    @include media-breakpoint('lt-sm') {
        background: #fff;
        border-radius: 32px 32px 0 0;
        margin: 0 15px;
    }

    .about {
        &-text {
            position: relative;
            z-index: 10;
            padding: 120px 550px 0 25px;

            @include media-breakpoint('lt-lg') {
                padding: 100px 450px 0 25px;
            }

            @include media-breakpoint('lt-sm') {
                padding: 20px 15px;
            }

            &__heading {
                color: $primary-color;
                font: 30px/1.4 $font-segoe;
                margin: 0 0 20px 0;
            }

            .post {
                font: 18px $font-consolas;
                margin-bottom: 20px;

                p {
                    margin-bottom: 15px;
                }
            }

            >a {
                font-family: $font-consolas;
                color: $second-color;
                display: inline-block;

                @include media-breakpoint('lt-lg') {
                    margin-bottom: 25px;
                }

                i {
                    margin-left: 5px;
                }
            }
        }

        &-image {
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: 40px;
            z-index: 0;

            @include media-breakpoint('lt-sm') {
                position: inherit;
                left: auto;
                margin: 0 15px;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

}