.shop-top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .search-input {
        flex: 0 0 560px;
        margin-right: auto;
        position: relative;
        margin-bottom: 10px;

        .form-control {
            background: #fbfbfb;
            border: 1px solid #d8d8d8;
            border-radius: 18px;
            padding-right: 40px;
            font-size: 14px;
            line-height: 38px;
        }

        button {
            position: absolute;
            top: 5px;
            right: 10px;
            border: none;
            background: none;
            color: #a8a8a8;
            font-size: 16px;
        }
    }
}

.product-view {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__dropdown {
        display: flex;
        align-items: center;
        margin-right: 25px;
        margin-bottom: 10px;

        >span {
            font-weight: 400;
            font-size: 16px;
            color: #a9a9a9;
            margin-right: 10px;
        }
    }

    &__display {
        margin-bottom: 10px;

        a {
            margin-left: 10px;
            color: $text-color;

            &:hover {
                color: $second-color;
            }
        }
    }
}

.product-price {
    font: bold 18px $font-consolas;
    color: $green-color;
    word-spacing: -7px;

    &-old {
        font-size: 0.8em;
        font-weight: 400;
        margin-left: 20px;
        color: #d7d7d7;
        text-decoration: line-through;

        >span {
            color: #d7d7d7;
        }
    }

    &-currency {
        color: $green-color;
    }

    &-unit {
        color: #3d3d3d;
        margin-left: 5px;
    }
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;

    .product {
        height: auto;
        border-radius: 9px 9px 0 0;
        margin: 0 14px 30px 14px;
        flex: 0 0 calc(33.333% - 28px);

        &:hover {
            .product-image {
                img {
                    transform: scale(1.1);
                }
            }
        }

        &__wrapper {
            border: none;
            padding: 0;
            width: auto;

            .product {
                &-image {
                    align-items: flex-start;
                    margin-bottom: 20px;
                    position: relative;
                    z-index: 1;
                    height: 240px;

                    >a {
                        width: 100%;
                        overflow: hidden;
                    }

                    img {
                        width: 100%;
                        transition: .3s;
                    }
                }

                &-sticker2 {
                    position: absolute;
                    top: 15px;
                    z-index: 10;
                    left: 0;
                    color: #fff;
                    text-transform: uppercase;
                    font: 12px/24px $font-consolas;

                    .stiÑker {
                        padding: 0 10px;
                        position: relative;

                        &:before,
                        &:after {
                            content: "";
                            display: block;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            position: absolute;
                            right: -5px;
                        }

                        &:before {
                            bottom: 0;
                            border-width: 12px 0 0 5px;
                        }

                        &:after {
                            top: 0;
                            border-width: 12px 5px 0 0;
                        }

                        &-novinka {
                            background: #f0c832;

                            &:before {
                                border-left-color: #f0c732;
                            }

                            &:after {
                                border-top-color: #f0c732;
                            }
                        }

                        &-akcia {
                            background: #c95d4c;

                            &:before {
                                border-left-color: #c95d4c;
                            }

                            &:after {
                                border-top-color: #c95d4c;
                            }
                        }
                    }
                }

                &-tools {
                    position: absolute;
                    top: 15px;
                    right: 10px;
                    z-index: 10;
                    display: flex;
                    flex-direction: column;

                    a {
                        margin-bottom: 5px;
                        color: #a9a9a9;
                        text-decoration: none;
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        transition: .3s;

                        &:hover {
                            color: #fff;
                            background: #ccc;
                        }
                    }
                }

                &-text {
                    font-size: 12px;
                    line-height: 1.2;
                    margin-bottom: 15px;
                }

                &-info {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 15px;
                }

                &-price {
                    margin: 0 5px;
                    text-align: right;
                    line-height: 1;
                }

                &-buttons {
                    margin: 0 5px;

                    button {
                        width: 140px;
                        margin: 0;
                        font-size: 12px;
                        line-height: 36px;

                        i {
                            transform: scale(.7);
                            margin-right: 5px;
                        }
                    }
                }

                &-price {
                    font-size: 24px;

                    >span {
                        display: block;

                        &.product-price-old {
                            font-size: 21px;
                        }
                    }
                }
            }
        }
    }
}