.shop-top {
    display: flex;

    .search-input {
        flex: 0 0 560px;
        margin-right: auto;
    }
}

.product-view {
    display: flex;
    justify-content: space-between;

    &__dropdown {
        display: flex;
        align-items: center;
        margin-right: 25px;
    }
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;

    .product {
        height: auto;
        border-radius: 9px 9px 0 0;
        margin: 0 14px 30px 14px;
        flex: 0 0 calc(33.333% - 28px);

        &__wrapper {
            border: none;
            padding: 0;
            width: auto;

            .product {
                &-image {
                    align-items: flex-start;
                    height: 190px;
                    margin-bottom: 20px;

                    img {
                        width: 100%;
                    }
                }

                &-sticker2 {
                    position: absolute;
                    top: 15px;
                    left: 0;
                    color: #fff;
                    text-transform: uppercase;
                    font: 12px/24px $font-consolas;

                    .stiÑker {
                        padding: 0 10px;
                        position: relative;

                        &:before,
                        &:after {
                            content: "";
                            display: block;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            position: absolute;
                            right: -5px;
                        }

                        &:before {
                            bottom: 0;
                            border-width: 12px 0 0 5px;
                        }

                        &:after {
                            top: 0;
                            border-width: 12px 5px 0 0;
                        }

                        &-novinka {
                            background: #f0c832;

                            &:before {
                                border-left-color: #f0c732;
                            }

                            &:after {
                                border-top-color: #f0c732;
                            }
                        }
                    }
                }

                &-tools {
                    position: absolute;
                    top: 15px;
                    right: 10px;
                    display: flex;
                    flex-direction: column;

                    a {
                        margin-bottom: 5px;
                        color: #a9a9a9;
                        text-decoration: none;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }

                &-text {
                    font-size: 11px;
                    line-height: 1.2;
                    margin-bottom: 15px;
                }

                &-info {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 15px;
                }

                &-price {
                    margin: 0 5px;

                    >span {
                        color: $green-color;
                        margin: 0;
                    }
                }

                &-buttons {
                    margin: 0 5px;

                    button {
                        width: 110px;
                        height: 32px;
                        margin: 0;
                        font-size: 12px;

                        i {
                            transform: scale(.7);
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}