.single-product {
    @include media-breakpoint('lt-sm') {
        padding: 0 10px;
    }

    .product-sticker {
        z-index: 10;
    }

    .product-images {
        margin-bottom: 10px;

        @include media-breakpoint('lt-sm') {
            margin-bottom: 20px;
        }

        &__preview {
            margin-bottom: 20px;

            a {
                height: 360px;
                flex: 0 0 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    object-fit: contain;
                    max-height: 360px !important;
                    min-width: 60%;
                }

                @include media-breakpoint('lt-sm') {
                    height: 180px;

                    img {
                        max-height: 180px !important;
                    }
                }

            }
        }

        &__list {
            .item {
                a {
                    display: block;
                    text-align: center;
                    background: #f2f2f2;
                    border: 1px solid transparent;

                    &:hover {
                        border-color: $orange-color;
                    }
                }

                img {
                    display: inline-block;
                    height: 64px;
                    max-width: 100%;
                    padding: 0;
                    border: none !important;

                    @include media-breakpoint('lt-sm') {
                        height: 38px;
                    }
                }

                &.current {
                    a {
                        border-color: $orange-color;
                    }
                }
            }

            &:not(.slick-slider) {
                display: flex;
                overflow: hidden;
                justify-content: center;

                .item {
                    flex: 0 0 30%;
                }
            }

            &.slick-slider {
                padding: 0 50px;

                .slick-slide {
                    margin: 0 2px;
                }

                .slick-arrow {
                    font-size: 18px;
                    margin-top: -12px;

                    &.slick-prev {
                        left: 15px;
                    }

                    &.slick-next {
                        right: 15px;
                    }
                }
            }
        }
    }

    .product-rate {
        margin: 0 0 5px 0;
        display: flex;
        justify-content: center;

        .stars {
            $star-width: 17px;
            $star-height: 16px;

            width: calc(5 * #{$star-width});
            height: 18px;
            position: relative;

            &:before,
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 2px;
                left: 0;
                background: url(../images/star_rating.png) repeat-x;
                height: $star-height;
            }

            &:before {
                width: 100%;
                background-position: 0 -#{$star-height};
            }

            &:after {
                width: 0;
                background-position: 0 0;
            }

            @for $i from 1 through 5 {
                &.star-#{$i} {
                    &:after {
                        width: calc(#{$i} * #{$star-width});
                    }
                }
            }
        }

        span {
            font-weight: bold;
            color: $grey-color;
            margin: 0 0 0 5px;
        }
    }

    &__tools {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        @include media-breakpoint('lt-md') {
            flex-wrap: wrap;
        }

        @include media-breakpoint('lt-sm') {
            margin: 0;
        }

        a {
            margin: 0 20px;
            display: flex;
            align-items: center;
            color: $text-color;
            text-decoration: none;

            @include media-breakpoint('lt-md') {
                margin: 0 10px 15px 10px;
            }

            &:hover {
                color: $orange-color;
            }

            i {
                margin-right: 10px;
            }
        }
    }

    &__share {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        >span {
            display: flex;
            align-items: center;
            color: $text-color;
            margin-right: 20px;

            i {
                margin-right: 10px;
            }
        }

        @include media-breakpoint('lt-sm') {
            flex-wrap: wrap;
            justify-content: center;

            >span {
                margin: 0 0 10px 0;
            }
        }

        .share-list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            a {
                line-height: 1;
                margin: 5px;
                text-decoration: none;
                transition: .3s;

                &:hover {
                    transform: translateY(-3px);
                }
            }
        }
    }

    &__links {
        border-bottom: 1px solid #dbdbdb;
        justify-content: space-between;
        margin-bottom: 40px;

        .nav-item {
            @include media-breakpoint('lt-sm') {
                flex: 0 0 50%;
                text-align: center;
            }

            .nav-link {
                font: 14px/1 $font-consolas;
                color: #373737;
                padding: 10px 7px;
                border-bottom: 1px solid transparent;
                margin-bottom: -1px;

                &.active {
                    font-weight: bold;
                    border-bottom: 1px solid $primary-color;
                }

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }

    &__top {
        border-bottom: 1px dotted #d0cfcf;
        padding-bottom: 30px;
        margin-bottom: 25px;
    }

    &__title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .page-heading {
            color: $primary-color;
            font-size: 30px;
            margin-right: 10px;
            margin-bottom: 5px;

            @include media-breakpoint('lt-sm') {
                font-size: 24px;
            }
        }
    }

    &__text {
        font: 18px $font-consolas;
        margin-bottom: 5px;
    }

    &__code {
        color: #a8a8a8;
        font-size: 12px;
    }

    &__price {
        border-bottom: 1px dotted #d0cfcf;
        padding-bottom: 15px;
        margin-bottom: 15px;

        .product-price {
            font-size: 33px;
            margin-bottom: 10px;

            &-unit {
                margin-left: 10px;
            }

            &-old {
                margin: 0;
                display: block;
            }
        }

        .row {
            margin-bottom: 10px;
        }

        .col-price {

            &__text {
                color: #a8a8a8;
                font: 14px/1.2 $font-consolas;

                p {
                    margin: 0;
                }
            }
        }

        .col-options {
            &__top {
                margin: 15px 0 10px 0;

                >span {
                    font: 14px $font-consolas;
                }

                .price-hint {
                    &-content {
                        text-align: center;
                        line-height: 1.3;
                    }
                }
            }

            .select-options {
                position: relative;

                &:after {
                    @extend %fontawesome;
                    content: "\f107";
                    display: block;
                    position: absolute;
                    right: 15px;
                    top: 12px;
                    font-size: 16px;
                    line-height: 1;
                    color: #272727;
                }

                select {
                    width: 100%;
                    font: bold 16px/1.3 $font-consolas;
                    -webkit-appearance: none;
                    appearance: none;
                    color: #272727;
                    border: 1px solid #dadada;
                    line-height: 1;
                    outline: 0;
                    padding: 0.65em 2.5em 0.55em 0.75em;
                    border-radius: 22px;
                    background: #f7f7f7;

                    &:hover {
                        border-color: darken(#dadada, 5%);
                        background: darken(#f7f7f7, 5%);
                    }

                    &:active {
                        border-color: darken(#dadada, 5%);
                        background: darken(#f7f7f7, 5%);
                    }
                }

            }
        }
    }

    &__promo {
        color: $orange-color;
        font: 22px $font-consolas;

        strong {
            font-size: 30px;
        }

        @include media-breakpoint('lt-sm') {
            font-size: 16px;

            strong {
                font-size: 22px;
            }
        }
    }

    &__counter {
        border-bottom: 1px dotted #d0cfcf;
        padding-bottom: 5px;
        margin-bottom: 30px;

        .input-counter {
            background: #f7f7f7;
            border-radius: 22px;
            border: 1px solid #dadada;
            display: flex;
            justify-content: space-between;
            padding: 5px;
            margin-bottom: 10px;

            @include media-breakpoint('lt-sm') {
                max-width: 180px;
                margin: 0 auto 20px auto;
            }

            .btn {
                flex: 0 0 25px;
                padding: 0;
                font-size: 18px;
                font-weight: bold;
                line-height: 25px;
                border-radius: 0;
                width: 25px;
                height: 25px;
                text-align: center;
                border: none;
                background: #dddddd;
                border-radius: 50%;
                color: #fff;
                outline: none !important;
                box-shadow: none !important;

                &:hover {
                    color: $green-color;
                }
            }

            .input-group-text {
                flex: 0 1 auto;
                display: inline-block;
                background: none;
                padding: 0;
                border-radius: 0;
                border-top: none;
                border-bottom: none;
                border: none;
                margin: -5px 5px;

                .form-control {
                    width: 100%;
                    height: auto;
                    background: #f7f7f7;
                    font-size: 16px;
                    line-height: 23px;
                    display: inline-block;
                    border-radius: 0;
                    border: none;
                    text-align: center;
                    outline: none !important;
                    box-shadow: none !important;

                    &:disabled {
                        cursor: default;
                    }

                    &:focus {
                        background: darken(#f7f7f7, 5%);
                    }
                }
            }
        }
    }

    &__stock {
        display: flex;
        align-items: center;
        margin: 0 0 10px 0;
        text-decoration: none;

        @include media-breakpoint('lt-sm') {
            text-align: center;
            justify-content: center;
        }

        i {
            margin: 0 10px 0 0;
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $text-color;
            font: 18px $font-consolas;

            span {
                text-decoration: none;
            }

            &:hover {
                span {
                    text-decoration: none;
                }
            }

            &.in-stock {
                color: $text-color;

                i {
                    color: $primary-color;
                }
            }

            &.out-of-stock {
                color: #e20c0c;

                i {
                    color: #e20c0c;
                }
            }

            &.find-chipper {
                color: $text-color;
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        @include media-breakpoint('lt-sm') {
            flex-wrap: wrap;
            justify-content: center;
        }

        .btn {
            font: 18px/32px $font-consolas;
            border-radius: 32px;

            @include media-breakpoint('lt-sm') {
                font-size: 16px;
            }

            &-primary {
                display: flex;
                align-items: center;
                padding: 0 25px;
                border: none;

                @include media-breakpoint('lt-md') {
                    padding: 0 15px;
                    font-size: 16px;
                }

                i {
                    margin-right: 15px;
                }
            }

            &-link {
                color: $green-color;
                text-decoration: underline;

                @include media-breakpoint('lt-md') {
                    font-size: 16px;
                }

                &:hover {
                    background: #f7f7f7;
                    text-decoration: none;
                }
            }
        }
    }

    &__content {
        .nav-tabs {
            justify-content: center;
            border: none;

            .nav-item {
                flex: 0 0 calc(50% - 30px);
                padding: 10px 0;
                border-bottom: 2px dotted $primary-color;

                &:first-of-type {
                    margin-right: 30px;
                    text-align: right;

                    @include media-breakpoint('lt-sm') {
                        margin-right: 15px;
                    }

                }

                &:last-of-type {
                    margin-left: 30px;

                    @include media-breakpoint('lt-sm') {
                        margin-left: 15px;
                    }

                }

                .nav-link {
                    padding: 0;
                    border: none;
                    font: 30px/1.5 $font-segoe;
                    color: #3d3d3d;

                    @include media-breakpoint('lt-sm') {
                        font-size: 16px;
                        white-space: nowrap;
                        text-align: center;
                    }

                    &.active,
                    &:hover {
                        color: $primary-color;
                    }

                    &.active {
                        text-decoration: underline;
                    }
                }
            }
        }

        .tab-pane {
            padding: 25px 0;
        }
    }
}