@@include('../includes/header.html', { "title": "About", "headerClass": "" })

<div class="container">
  <div class="breadcrumbs">
    <ul>
      <li><a href="#">Главная</a></li>
      <li><span>О нас</span></li>
    </ul>
  </div>
  <main role="main" id="content" class="content content-about">
    <div class="wrapper">
      <h1 class="about-heading">Приглашаем Вас в страну органики!</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="img">
            <img src="images/demo/about.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="post">
            <p>Даже когда Вы буквально растворяетесь в чистейшем удовольствии от еды, воспользуйтесь этим моментом,
              чтобы
              с
              профессиональной точностью оценить вкус. В статье Вы узнаете больше об этом и в итоге научитесь
              разбираться
              в
              тончайших нюансах вкуса как настоящий профессионал.</p>
            <p style="font-style: italic; color: #5e9423;">Даже когда Вы буквально растворяетесь в чистейшем
              удовольствии
              от
              еды, воспользуйтесь этим моментом, чтобы с
              профессиональной точностью оценить вкус. В статье Вы узнаете больше об этом и в итоге научитесь
              разбираться
              в
              тончайших нюансах.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <h1 class="about-heading">Наш продукт это:</h1>
      <div class="super">
        <div class="super__col">
          <div class="super-item super-item-glass">
            <span class="super-item-icon"></span>
            <span class="super-item-number">01</span>
            <div class="super-item-name">Полно витаминов</div>
            <p>Даже когда Вы буквально растворяетесь в чистейшем воздухе.</p>
          </div>
          <div class="super-item super-item-heart">
            <span class="super-item-icon"></span>
            <span class="super-item-number">02</span>
            <div class="super-item-name">Рекомендовано</div>
            <p>Даже когда Вы буквально растворяетесь в чистейшем воздухе.</p>
          </div>
          <div class="super-item super-item-eko">
            <span class="super-item-icon"></span>
            <span class="super-item-number">03</span>
            <div class="super-item-name">Экоцикл</div>
            <p>Даже когда Вы буквально растворяетесь в чистейшем воздухе.</p>
          </div>
        </div>
        <div class="super__col">
          <div class="super-item super-item-cup">
            <span class="super-item-icon"></span>
            <span class="super-item-number">04</span>
            <div class="super-item-name">Антиоксиданты</div>
            <p>Даже когда Вы буквально растворяетесь в чистейшем воздухе.</p>
          </div>
          <div class="super-item super-item-antioxidant">
            <span class="super-item-icon"></span>
            <span class="super-item-number">05</span>
            <div class="super-item-name">Антиоксиданты</div>
            <p>Даже когда Вы буквально растворяетесь в чистейшем воздухе.</p>
          </div>
          <div class="super-item super-item-guarantee">
            <span class="super-item-icon"></span>
            <span class="super-item-number">06</span>
            <div class="super-item-name">Гарантии</div>
            <p>Даже когда Вы буквально растворяетесь в чистейшем воздухе.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-gallery swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="images/demo/gallery1.jpg">
          <a href="#" class="swiper-slide__link">Перейти в фотогалерею</a>
        </div>
        <div class="swiper-slide">
          <img src="images/demo/gallery2.jpg">
          <a href="#" class="swiper-slide__link">Перейти в фотогалерею</a>
        </div>
        <div class="swiper-slide">
          <img src="images/demo/gallery3.jpg">
          <a href="#" class="swiper-slide__link">Перейти в фотогалерею</a>
        </div>
        <div class="swiper-slide">
          <img src="images/demo/gallery4.jpg">
          <a href="#" class="swiper-slide__link">Перейти в фотогалерею</a>
        </div>
        <div class="swiper-slide">
          <img src="images/demo/gallery5.jpg">
          <a href="#" class="swiper-slide__link">Перейти в фотогалерею</a>
        </div>
        <div class="swiper-slide">
          <img src="images/demo/gallery6.jpg">
          <a href="#" class="swiper-slide__link">Перейти в фотогалерею</a>
        </div>
        <div class="swiper-slide">
          <img src="images/demo/gallery7.jpg">
          <a href="#" class="swiper-slide__link">Перейти в фотогалерею</a>
        </div>
        <div class="swiper-slide">
          <img src="images/demo/gallery3.jpg">
          <a href="#" class="swiper-slide__link">Перейти в фотогалерею</a>
        </div>
        <div class="swiper-slide">
          <img src="images/demo/gallery5.jpg">
          <a href="#" class="swiper-slide__link">Перейти в фотогалерею</a>
        </div>
        <div class="swiper-slide">
          <img src="images/demo/gallery4.jpg">
          <a href="#" class="swiper-slide__link">Перейти в фотогалерею</a>
        </div>
      </div>
      <div class="gallery-arrow swiper-button-prev"></div>
      <div class="gallery-arrow swiper-button-next"></div>
    </div>
  </main>
</div>

@@include('../includes/_help-form.html')
@@include('../includes/footer.html')