@@include('../includes/header.html', { "title": "Order history", "headerClass": "" })

<div class="container">
  <div class="breadcrumbs">
    <ul>
      <li><a href="#">Главная</a></li>
      <li><a href="#">Личный кабинет</a></li>
      <li><span>Сделать заказ</span></li>
    </ul>
  </div>
  <div class="wrapper">
    <div class="wrapper__inner">
      <aside id="sidebar" class="sidebar">
        <div class="nav-sidebar nav-accordion">
          <div class="nav-sidebar__title title-accordion" data-toggle="collapse" data-target="#collapseNav">Кабинет
          </div>
          <div id="collapseNav" class="content-accordion collapse show">
            <div class="content-accordion__inner">
              <ul>
                <li class="active"><a href="cabinet-order.html">Сделать заказ</a></li>
                <li><a href="cabinet-history.html">История заказов</a></li>
                <li><a href="#">Сравнение</a></li>
                <li><a href="#">Мои данные</a></li>
                <li><a href="#">Промокоды</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </div>
          </div>
          <div class="nav-sidebar__title title-accordion title-manager collapsed" data-toggle="collapse"
            data-target="#collapseManager"><i class="fas fa-headphones-alt"></i> Ваш менеджер</div>
          <div id="collapseManager" class="content-accordion collapse">
            <div class="content-accordion__inner">
              manager
            </div>
          </div>
        </div>
      </aside>
      <div class="content content-cabinet">
        <section class="section-special">
          <div class="special-list">
            <div class="special-item" style="background-image: url(images/demo/akc1.png);">
              <div class="special-item__content">
                <div class="special-name">
                  <div class="special-name__inner"><span>Спецпредложения</span></div>
                </div>
                <div class="special__content">
                  <div class="special-discont">
                    <span>-10%</span> скидка на первый заказ
                  </div>
                  <form action="" class="special-form">
                    <div class="col-text">
                      <span>оставьте свой номер и наш<br> консультант перезвонит Вам!</span>
                    </div>
                    <div class="form-input">
                      <input class="form-control" type="tel" placeholder="Ваш телефон">
                      <button>Отправить</button>
                    </div>
                  </form>
                  <div class="special-phone">
                    <span>Или позвоните по номеру:</span>
                    <a href="tel:88009685887"><i class="appicon appicon-phone-white"></i>
                      8-800-968-58-87</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="special-item" style="background-image: url(images/demo/akc1.png);">
              <div class="special-item__content">
                <div class="special-name">
                  <div class="special-name__inner"><span>Спецпредложения2</span></div>
                </div>
                <div class="special__content">
                  <div class="special-discont">
                    <span>-10%</span> скидка на первый заказ
                  </div>
                  <form action="" class="special-form">
                    <div class="col-text">
                      <span>оставьте свой номер и наш<br> консультант перезвонит Вам!</span>
                    </div>
                    <div class="form-input">
                      <input class="form-control" type="tel" placeholder="Ваш телефон">
                      <button>Отправить</button>
                    </div>
                  </form>
                  <div class="special-phone">
                    <span>Или позвоните по номеру:</span>
                    <a href="tel:88009685887"><i class="appicon appicon-phone-white"></i>
                      8-800-968-58-87</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="order-search">
          <form action="" class="order-search__form search-form">
            <div class="form-input">
              <input type="text" placeholder="Поикс по названию" />
              <button><i class="fa fa-search"></i></button>
            </div>
          </form>
          <div class="sorting">
            <span>Сортировка</span>
            <div class="dropdown">
              <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">
                По умолчанию
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item dropdown-active" href="#">По умолчанию</a>
                <a class="dropdown-item" href="#">От дорогих к дешевым</a>
                <a class="dropdown-item" href="#">По популярности</a>
                <a class="dropdown-item" href="#">По имени</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="order-create">
      <div class="order-create__header">Сделать заказ</div>
      <div id="productGroup" class="order-create__list">
        <div class="card">
          <div class="card-header" id="groupName1">
            <button class="collapsed" data-toggle="collapse" data-target="#group1">
              <span class="group-name">ЙОГУРТЫ и МОЛОКО</span>
              <span class="heading-icon"><i class="fa fa-angle-down"></i></span>
            </button>
            </h5>
          </div>

          <div id="group1" class="collapse">
            <div class="card-body">
              ....
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="groupName2">
            <button data-toggle="collapse" data-target="#group2">
              <span class="group-name">МЯГКИЕ СЫРЫ и ТВОРОГ</span>
              <span class="heading-icon"><i class="fa fa-angle-down"></i></span>
            </button>
          </div>
          <div id="group2" class="collapse show">
            <div class="card-body cart">
              <div class="cart-group__table">
                <table>
                  <thead>
                    <tr>
                      <th>Наименование</th>
                      <th>Расфасовка</th>
                      <th>Цена</th>
                      <th>Коробка</th>
                      <th>Количество коробок</th>
                      <th>Сумма</th>
                      <th>Действие</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="cart-item">
                      <td class="cart-item__product">
                        <a href="#">
                          <div class="item-image"><img src="images/demo/products/thumb1.png" alt=""></div>
                          <div class="item-name">
                            <div class="item-title">Творог “КУБИКИ В РАССОЛЕ”</div>
                            <p>из козьего молока</p>
                          </div>
                        </a>
                      </td>
                      <td class="cart-item__value">
                        <div class="cart-item__option">
                          300 г
                        </div>
                        <div class="cart-item__option">
                          500 г
                        </div>
                      </td>
                      <td class="cart-item__price">
                        <div class="cart-item__option">
                          <div class="product-price">350 &#8381;</div>
                        </div>
                        <div class="cart-item__option">
                          <div class="product-price">1222 &#8381;</div>
                        </div>
                      </td>
                      <td>
                        <div class="cart-item__option">
                          6 шт
                        </div>
                        <div class="cart-item__option">
                          3 шт
                        </div>
                      </td>
                      <td class="cart-item__counter">
                        <div class="cart-item__option">
                          <div class="input-counter">
                            <button type="button" class="btn btn-minus btn-number" data-type="minus"
                              data-field="quant[123_1]">
                              -
                            </button>
                            <div class="input-group-text">
                              <input type="text" name="quant[123_1]" class="form-control input-number input-area"
                                value="6" data-min="1" data-max="100000" data-step="1" data-unit="">
                            </div>
                            <button type="button" class="btn btn-plus btn-number" data-type="plus"
                              data-field="quant[123_1]">
                              +
                            </button>
                          </div>
                        </div>
                        <div class="cart-item__option">
                          <div class="input-counter">
                            <button type="button" class="btn btn-minus btn-number" data-type="minus"
                              data-field="quant[123_2]">
                              -
                            </button>
                            <div class="input-group-text">
                              <input type="text" name="quant[123_2]" class="form-control input-number input-area"
                                value="3" data-min="1" data-max="100000" data-step="1" data-unit="">
                            </div>
                            <button type="button" class="btn btn-plus btn-number" data-type="plus"
                              data-field="quant[123_2]">
                              +
                            </button>
                          </div>
                        </div>
                      </td>
                      <td class="cart-item__sum">
                        <div class="cart-item__option">
                          <div class="product-price">1725 &#8381;</div>
                        </div>
                        <div class="cart-item__option">
                          <div class="product-price">3666 &#8381;</div>
                        </div>
                      </td>
                      <td class="cart-item__actions">
                        <div class="cart-item__option">
                          <a href="#" title="В корзину" class="in-cart"><i class="fas fa-shopping-bag"
                              aria-hidden="true"></i></a>
                          <button class="btn-cart-remove" title="Убрать из корзины"><i class="fa fa-trash"></i></button>
                        </div>
                        <div class="cart-item__option">
                          <a href="#" title="В корзину"><i class="fas fa-shopping-bag" aria-hidden="true"></i></a>
                        </div>
                      </td>
                    </tr>
                    <tr class="cart-item">
                      <td class="cart-item__product">
                        <a href="#">
                          <div class="item-image"><img src="images/demo/products/product_thumb2.jpg" alt=""></div>
                          <div class="item-name">
                            <div class="item-title">Чизбургер</div>
                            <p>из козьего молока</p>
                          </div>
                        </a>
                      </td>
                      <td class="cart-item__value">
                        <div class="cart-item__option">
                          300 г
                        </div>
                        <div class="cart-item__option">
                          500 г
                        </div>
                      </td>
                      <td class="cart-item__price">
                        <div class="cart-item__option">
                          <div class="product-price">350 &#8381;</div>
                        </div>
                        <div class="cart-item__option">
                          <div class="product-price">1222 &#8381;</div>
                        </div>
                      </td>
                      <td>
                        <div class="cart-item__option">
                          6 шт
                        </div>
                        <div class="cart-item__option">
                          3 шт
                        </div>
                      </td>
                      <td class="cart-item__counter">
                        <div class="cart-item__option">
                          <div class="input-counter">
                            <button type="button" class="btn btn-minus btn-number" data-type="minus"
                              data-field="quant[123_1]">
                              -
                            </button>
                            <div class="input-group-text">
                              <input type="text" name="quant[123_1]" class="form-control input-number input-area"
                                value="6" data-min="1" data-max="100000" data-step="1" data-unit="">
                            </div>
                            <button type="button" class="btn btn-plus btn-number" data-type="plus"
                              data-field="quant[123_1]">
                              +
                            </button>
                          </div>
                        </div>
                        <div class="cart-item__option">
                          <div class="input-counter">
                            <button type="button" class="btn btn-minus btn-number" data-type="minus"
                              data-field="quant[123_2]">
                              -
                            </button>
                            <div class="input-group-text">
                              <input type="text" name="quant[123_2]" class="form-control input-number input-area"
                                value="3" data-min="1" data-max="100000" data-step="1" data-unit="">
                            </div>
                            <button type="button" class="btn btn-plus btn-number" data-type="plus"
                              data-field="quant[123_2]">
                              +
                            </button>
                          </div>
                        </div>
                      </td>
                      <td class="cart-item__sum">
                        <div class="cart-item__option">
                          <div class="product-price">1725 &#8381;</div>
                        </div>
                        <div class="cart-item__option">
                          <div class="product-price">3666 &#8381;</div>
                        </div>
                      </td>
                      <td class="cart-item__actions">
                        <div class="cart-item__option">
                          <a href="#" title="В корзину"><i class="fas fa-shopping-bag" aria-hidden="true"></i></a>
                        </div>
                        <div class="cart-item__option">
                          <a href="#" title="В корзину"><i class="fas fa-shopping-bag" aria-hidden="true"></i></a>
                        </div>
                      </td>
                    </tr>
                    <tr class="cart-item">
                      <td class="cart-item__product">
                        <a href="#">
                          <div class="item-image"><img src="images/demo/products/product_thumb1.jpg" alt=""></div>
                          <div class="item-name">
                            <div class="item-title">Чипсы “КУБИКИ В РАССОЛЕ”</div>
                            <p>из бульбы</p>
                          </div>
                        </a>
                      </td>
                      <td class="cart-item__value">
                        <div class="cart-item__option">
                          300 г
                        </div>
                      </td>
                      <td class="cart-item__price">
                        <div class="cart-item__option">
                          <div class="product-price">350 &#8381;</div>
                        </div>
                      </td>
                      <td>
                        <div class="cart-item__option">
                          6 шт
                        </div>
                      </td>
                      <td class="cart-item__counter">
                        <div class="cart-item__option">
                          <div class="input-counter">
                            <button type="button" class="btn btn-minus btn-number" data-type="minus"
                              data-field="quant[123_1]">
                              -
                            </button>
                            <div class="input-group-text">
                              <input type="text" name="quant[123_1]" class="form-control input-number input-area"
                                value="6" data-min="1" data-max="100000" data-step="1" data-unit="">
                            </div>
                            <button type="button" class="btn btn-plus btn-number" data-type="plus"
                              data-field="quant[123_1]">
                              +
                            </button>
                          </div>
                        </div>
                      </td>
                      <td class="cart-item__sum">
                        <div class="cart-item__option">
                          <div class="product-price">1725 &#8381;</div>
                        </div>
                      </td>
                      <td class="cart-item__actions">
                        <div class="cart-item__option">
                          <a href="#" title="В корзину" class="in-cart"><i class="fas fa-shopping-bag"
                              aria-hidden="true"></i></a>
                          <button class="btn-cart-remove" title="Убрать из корзины"><i class="fa fa-trash"></i></button>
                        </div>
                      </td>
                    </tr>
                    <tr class="cart-item">
                      <td class="cart-item__product">
                        <a href="#">
                          <div class="item-image"><img src="images/demo/products/thumb2.png" alt=""></div>
                          <div class="item-name">
                            <div class="item-title">Йогурт</div>
                            <p>из козьего молока</p>
                          </div>
                        </a>
                      </td>
                      <td class="cart-item__value">
                        <div class="cart-item__option">
                          300 г
                        </div>
                      </td>
                      <td class="cart-item__price">
                        <div class="cart-item__option">
                          <div class="product-price">350 &#8381;</div>
                        </div>
                      </td>
                      <td>
                        <div class="cart-item__option">
                          6 шт
                        </div>
                      </td>
                      <td class="cart-item__counter">
                        <div class="cart-item__option">
                          <div class="input-counter">
                            <button type="button" class="btn btn-minus btn-number" data-type="minus"
                              data-field="quant[123_1]">
                              -
                            </button>
                            <div class="input-group-text">
                              <input type="text" name="quant[123_1]" class="form-control input-number input-area"
                                value="6" data-min="1" data-max="100000" data-step="1" data-unit="">
                            </div>
                            <button type="button" class="btn btn-plus btn-number" data-type="plus"
                              data-field="quant[123_1]">
                              +
                            </button>
                          </div>
                        </div>
                      </td>
                      <td class="cart-item__sum">
                        <div class="cart-item__option">
                          <div class="product-price">1725 &#8381;</div>
                        </div>
                      </td>
                      <td class="cart-item__actions">
                        <div class="cart-item__option">
                          <a href="#" title="В корзину"><i class="fas fa-shopping-bag" aria-hidden="true"></i></a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="groupName3">
            <button class="collapsed" data-toggle="collapse" data-target="#group3">
              <span class="group-name">СЫРЫ</span>
              <span class="heading-icon"><i class="fa fa-angle-down"></i></span>
            </button>
          </div>
          <div id="group3" class="collapse">
            <div class="card-body">
              ....
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="groupName4">
            <button class="collapsed" data-toggle="collapse" data-target="#group4">
              <span class="group-name">ДЕЛИКАТЕСЫ</span>
              <span class="heading-icon"><i class="fa fa-angle-down"></i></span>
            </button>
          </div>
          <div id="group4" class="collapse">
            <div class="card-body">
              ....
            </div>
          </div>
        </div>
      </div>
      <div class="order-create__bottom">
        <div class="order-date">
          <span>Дата доставки</span>
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="true">
              По группам
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item dropdown-active" href="#"> По группам</a>
              <a class="dropdown-item" href="#">В один день</a>
              <a class="dropdown-item" href="#">Дата оговаривается</a>
            </div>
          </div>
        </div>
        <button class="btn btn-save"><i class="fa fa-save"></i> Оформить заказ</button>
      </div>
    </div>
  </div>
</div>
<div class="cart-summary">
  <div class="cart-summary-inner">
    <div class="cart-summary__header">
      <a href="#">
        <span>Свернуть корзину</span>
        <i class="fa fa-close"></i>
      </a>
    </div>
    <div class="cart-summary__body">
      <h3>Итого:</h3>
      <p>Количество товаров <b>10</b></p>
      <p>Количество позиций <b>19</b></p>
      <p>На сумму <b>13 841</b> руб.</p>
      <p><span>Экономия</span> <b>0</b> руб.</p>
    </div>
    <div class="cart-summary__bottom">
      <button class="btn btn-primary"><i class="fa fa-file-alt" aria-hidden="true"></i> Оформить заказ</button>
    </div>
  </div>
</div>
@@include('../includes/footer.html')