@@include('../includes/header.html', { "title": "Welcome", "headerClass": " front-page-header" })

<div class="container">
  <div class="catalog">
    <div class="catalog-nav">
      <a class="active" href="#">
        <div class="catalog-nav-content">
          <div class="nav-subtitle">Йогурты и</div>
          <div class="nav-title">Молоко</div>
        </div>
        <img src="images/demo/img1.jpg" alt="">
      </a>
      <a href="#">
        <div class="catalog-nav-content">
          <div class="nav-subtitle">Мягкие сыры и</div>
          <div class="nav-title">Творог</div>
        </div><img src="images/demo/img2.jpg" alt="">
      </a>
      <a href="#">
        <div class="catalog-nav-content">
          <div class="nav-subtitle"></div>
          <div class="nav-title">Сыры</div>
        </div><img src="images/demo/img3.jpg" alt="">
      </a>
      <a href="#">
        <div class="catalog-nav-content">
          <div class="nav-subtitle"></div>
          <div class="nav-title">Деликатесы</div>
        </div><img src="images/demo/img4.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="products-top">
    <div class="products-title">Наша продукция</div>
    <ul class="products-filter">
      <li><a href="#">Все</a></li>
      <li class="active"><a href="#">Йогурты и молоко</a></li>
      <li><a href="#">Мягкие сыры и творого</a></li>
      <li><a href="#">Сыры</a></li>
      <li><a href="#">Деликатесы</a></li>
    </ul>
  </div>
  <div class="products swiper-container">
    <div class="products-list swiper-wrapper">
      <div class="product swiper-slide">
        <div class="product__wrapper">
          <div class="product-sticker">
            <div class="stiсker-akcia">
              <p><span>Акция</span></p>
            </div>
          </div>
          <div class="product-tools">
            <a href="#"><i class="fa fa-heart-o"></i></a>
            <a href="#"><i class="fa fa-search"></i></a>
          </div>
          <div class="product-image">
            <img src="images/demo/product1.png" alt="">
          </div>
          <div class="product-name"><a href="#">Брынза</a></div>
          <div class="product-text">
            из козьего молока<br> “КУБИКИ В РАССОЛЕ”
          </div>
          <div class="product-price">
            <span>до 725 руб.</span>
            <div class="price-hint">
              <a><i class="fa fa-info"></i></a>
              <div class="price-hint-content">
                <div class="price-hint-content__inner">
                  <p>Цены оптовым покупателям доступны после авторизации</p>
                  <a href="#" class="btn">Авторизироваться</a>
                </div>
              </div>
            </div>
          </div>
          <div class="product__bottom">
            <div class="product-buttons">
              <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
            </div>
            <div class="product-gallery">
              <a class="gallery-item current" data-source="image" href="images/demo/product1.png"><img
                  src="images/demo/product1.png" alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/product2.png"><img
                  src="images/demo/product2.png" alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/product2.png"><img
                  src="images/demo/product2.png" alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/product2.png"><img
                  src="images/demo/product2.png" alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/product2.png"><img
                  src="images/demo/product2.png" alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/product2.png"><img
                  src="images/demo/product2.png" alt=""></a>
            </div>
            <div class="product-links">
              <a href="#">Перейти в каталог <i class="fa fa-long-arrow-alt-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="product swiper-slide">
        <div class="product__wrapper">
          <div class="product-sticker">
            <div class="sticker-novinka">
              <p><span>Новинка</span></p>
            </div>
          </div>
          <div class="product-tools">
            <a href="#"><i class="fa fa-heart-o"></i></a>
            <a href="#"><i class="fa fa-search"></i></a>
          </div>
          <div class="product-image">
            <img src="images/demo/product2.png" alt="">
          </div>
          <div class="product-name"><a href="#">Твоврог</a></div>
          <div class="product-text">
            из козьего молока<br> “КУБИКИ В РАССОЛЕ”
          </div>
          <div class="product-price">
            <span>до 725 руб.</span>
            <div class="price-hint">
              <a><i class="fa fa-info"></i></a>
              <div class="price-hint-content">
                <div class="price-hint-content__inner">
                  <p>Цены оптовым покупателям доступны после авторизации</p>
                  <a href="#" class="btn">Авторизироваться</a>
                </div>
              </div>
            </div>
          </div>
          <div class="product__bottom">
            <div class="product-buttons">
              <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
            </div>
            <div class="product-gallery">
              <a class="gallery-item current" data-source="image" href="images/demo/product2.png"><img
                  src="images/demo/product2.png" alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/product1.png"><img
                  src="images/demo/product1.png" alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/product3.png"><img
                  src="images/demo/product3.png" alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/img3.jpg"><img src="images/demo/img3.jpg"
                  alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/img1.jpg"><img src="images/demo/img1.jpg"
                  alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/img2.jpg"><img src="images/demo/img2.jpg"
                  alt=""></a>
            </div>
            <div class="product-links">
              <a href="#">Перейти в каталог <i class="fa fa-long-arrow-alt-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="product swiper-slide">
        <div class="product__wrapper">
          <div class="product-tools">
            <a href="#"><i class="fa fa-heart-o"></i></a>
            <a href="#"><i class="fa fa-search"></i></a>
          </div>
          <div class="product-image">
            <img src="images/demo/product3.png" alt="">
          </div>
          <div class="product-name"><a href="#">Твоврог</a></div>
          <div class="product-text">
            из козьего молока<br> “КУБИКИ В РАССОЛЕ”
          </div>
          <div class="product-price">
            <span>до 858 руб.</span>
            <div class="price-hint">
              <a><i class="fa fa-info"></i></a>
              <div class="price-hint-content">
                <div class="price-hint-content__inner">
                  <p>Цены оптовым покупателям доступны после авторизации</p>
                  <a href="#" class="btn">Авторизироваться</a>
                </div>
              </div>
            </div>
          </div>
          <div class="product__bottom">
            <div class="product-buttons">
              <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
            </div>
            <div class="product-gallery">
              <a class="gallery-item current" data-source="image" href="images/demo/product3.png"><img
                  src="images/demo/product3.png" alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/product1.png"><img
                  src="images/demo/product1.png" alt=""></a>
            </div>
            <div class="product-links">
              <a href="#">Перейти в каталог <i class="fa fa-long-arrow-alt-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="product swiper-slide">
        <div class="product__wrapper">
          <div class="product-sticker">
            <div class="stiсker-akcia">
              <p><span>Акция</span></p>
            </div>
          </div>
          <div class="product-tools">
            <a href="#"><i class="fa fa-heart-o"></i></a>
            <a href="#"><i class="fa fa-search"></i></a>
          </div>
          <div class="product-image">
            <img src="images/demo/product1.png" alt="">
          </div>
          <div class="product-name"><a href="#">Брынза</a></div>
          <div class="product-text">
            из козьего молока<br> “КУБИКИ В РАССОЛЕ”
          </div>
          <div class="product-price">
            <span>до 725 руб.</span>
            <div class="price-hint">
              <a><i class="fa fa-info"></i></a>
              <div class="price-hint-content">
                <div class="price-hint-content__inner">
                  <p>Цены оптовым покупателям доступны после авторизации</p>
                  <a href="#" class="btn">Авторизироваться</a>
                </div>
              </div>
            </div>
          </div>
          <div class="product__bottom">
            <div class="product-buttons">
              <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
            </div>
            <div class="product-gallery">
              <a class="gallery-item current" data-source="image" href="images/demo/product1.png"><img
                  src="images/demo/product1.png" alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/product2.png"><img
                  src="images/demo/product2.png" alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/product2.png"><img
                  src="images/demo/product2.png" alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/product2.png"><img
                  src="images/demo/product2.png" alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/product2.png"><img
                  src="images/demo/product2.png" alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/product2.png"><img
                  src="images/demo/product2.png" alt=""></a>
            </div>
            <div class="product-links">
              <a href="#">Перейти в каталог <i class="fa fa-long-arrow-alt-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="product swiper-slide">
        <div class="product__wrapper">
          <div class="product-sticker">
            <div class="sticker-novinka">
              <p><span>Новинка</span></p>
            </div>
          </div>
          <div class="product-tools">
            <a href="#"><i class="fa fa-heart-o"></i></a>
            <a href="#"><i class="fa fa-search"></i></a>
          </div>
          <div class="product-image">
            <img src="images/demo/product2.png" alt="">
          </div>
          <div class="product-name"><a href="#">Твоврог</a></div>
          <div class="product-text">
            из козьего молока<br> “КУБИКИ В РАССОЛЕ”
          </div>
          <div class="product-price">
            <span>до 725 руб.</span>
            <div class="price-hint">
              <a><i class="fa fa-info"></i></a>
              <div class="price-hint-content">
                <div class="price-hint-content__inner">
                  <p>Цены оптовым покупателям доступны после авторизации</p>
                  <a href="#" class="btn">Авторизироваться</a>
                </div>
              </div>
            </div>
          </div>
          <div class="product__bottom">
            <div class="product-buttons">
              <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
            </div>
            <div class="product-gallery">
              <a class="gallery-item current" data-source="image" href="images/demo/product2.png"><img
                  src="images/demo/product2.png" alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/product1.png"><img
                  src="images/demo/product1.png" alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/product3.png"><img
                  src="images/demo/product3.png" alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/img3.jpg"><img src="images/demo/img3.jpg"
                  alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/img1.jpg"><img src="images/demo/img1.jpg"
                  alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/img2.jpg"><img src="images/demo/img2.jpg"
                  alt=""></a>
            </div>
            <div class="product-links">
              <a href="#">Перейти в каталог <i class="fa fa-long-arrow-alt-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="product swiper-slide">
        <div class="product__wrapper">
          <div class="product-tools">
            <a href="#"><i class="fa fa-heart-o"></i></a>
            <a href="#"><i class="fa fa-search"></i></a>
          </div>
          <div class="product-image">
            <img src="images/demo/product3.png" alt="">
          </div>
          <div class="product-name"><a href="#">Твоврог</a></div>
          <div class="product-text">
            из козьего молока<br> “КУБИКИ В РАССОЛЕ”
          </div>
          <div class="product-price">
            <span>до 858 руб.</span>
            <div class="price-hint">
              <a><i class="fa fa-info"></i></a>
              <div class="price-hint-content">
                <div class="price-hint-content__inner">
                  <p>Цены оптовым покупателям доступны после авторизации</p>
                  <a href="#" class="btn">Авторизироваться</a>
                </div>
              </div>
            </div>
          </div>
          <div class="product__bottom">
            <div class="product-buttons">
              <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
            </div>
            <div class="product-gallery">
              <a class="gallery-item current" data-source="image" href="images/demo/product3.png"><img
                  src="images/demo/product3.png" alt=""></a>
              <a class="gallery-item" data-source="image" href="images/demo/product1.png"><img
                  src="images/demo/product1.png" alt=""></a>
            </div>
            <div class="product-links">
              <a href="#">Перейти в каталог <i class="fa fa-long-arrow-alt-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <section class="section-slogan">
    <img src="images/demo/bb1.jpg" alt="">
    <div class="section-slogan__content">
      <div class="slogan-heading">
        Свежесть - превыше всего!
      </div>
      <div class="slogan-text">
        все продукты изготавливаются из молока утренней дойки в день предшествующий доставке
      </div>
    </div>
  </section>
  <section class="section-special">
    <div class="special-list">
      <div class="special-item">
        <img src="images/demo/akc1.png" alt="">
        <div class="special-item__content">
          <div class="special-name">
            <div class="special-name__inner"><span>Спецпредложения</span></div>
          </div>
          <div class="special__content">
            <div class="special-discont">
              <span>-10%</span> скидка на первый заказ
            </div>
            <form action="" class="special-form">
              <div class="col-text">
                <span>оставьте свой номер и наш<br> консультант перезвонит Вам!</span>
              </div>
              <div class="form-input">
                <input class="form-control" type="tel" placeholder="Ваш телефон">
                <button>Отправить</button>
              </div>
            </form>
            <div class="special-phone">
              <span>Или позвоните по номеру:</span>
              <a href="tel:88009685887"><i class="appicon appicon-phone-white"></i>
                8-800-968-58-87</a>
            </div>
          </div>
        </div>
      </div>
      <div class="special-item">
        <img src="images/demo/akc1.png" alt="">
        <div class="special-item__content">
          <div class="special-name">
            <div class="special-name__inner"><span>Спецпредложения2</span></div>
          </div>
          <div class="special__content">
            <div class="special-discont">
              <span>-10%</span> скидка на первый заказ
            </div>
            <form action="" class="special-form">
              <div class="col-text">
                <span>оставьте свой номер и наш<br> консультант перезвонит Вам!</span>
              </div>
              <div class="form-input">
                <input type="text" placeholder="Ваш телефон">
                <button>Отправить</button>
              </div>
            </form>
            <div class="special-phone">
              <span>Или позвоните по номеру:</span>
              <a href="tel:88009685887"><i class="appicon appicon-phone-white"></i>
                8-800-968-58-87</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-digits">
    <img src="images/demo/digits_img.jpg" alt="">
    <div class="digits-list">
      <div class="digit">
        <strong class="stat-count">128</strong>
        <p>товаров</p>
      </div>
      <div class="digit">
        <strong class="stat-count">8</strong>
        <p>лет</p>
      </div>
      <div class="digit">
        <strong class="stat-count">356</strong>
        <p>клиентов</p>
      </div>
      <div class="digit">
        <strong class="stat-count">214</strong>
        <p>голов</p>
      </div>
    </div>
    <div class="digits__content">
      <p>На ферме вы можете<br> приобрести продукты по</p>
      <span>оптовым ценам</span>
    </div>
  </section>
</div>

<section class="section-about">
  <div class="container">
    <div class="about-text">
      <h2 class="about-text__heading">Путешествие по нашей ФЕРМЕ</h2>
      <div class="post">
        <p>ЭкоФЕРМА “Долина аистов” — это экологически чистые угодья, с собственным производством самых вкусных
          фермерских
          продуктов.</p>
        <p>Мы готовим свою продукцию под заказ в небольших объемах, но при этом соблюдают все стандарты качества.
          Дополнительный лабораторный контроль продукция проходит перед поступлением на продажу.</p>
      </div>
      <a href="#">Фотогалерея <i class="fa fa-long-arrow-alt-right"></i></a>
    </div>
  </div>
  <div class="about-image">
    <img src="images/demo/about_img.png" alt="">
  </div>
</section>
@@include('../includes/footer.html')