@@include('../includes/header.html', { "title": "Welcome", "headerClass": " front-page-header" })

<div class="container">
  <div class="products">
    <div class="catalog">
      <div class="catalog-nav">
        <a class="active" href="#"><img src="images/demo/img1.jpg" alt=""></a>
        <a href="#"><img src="images/demo/img2.jpg" alt=""></a>
        <a href="#"><img src="images/demo/img3.jpg" alt=""></a>
        <a href="#"><img src="images/demo/img4.jpg" alt=""></a>
      </div>
    </div>
    <div class="products-filter">
      <div class="products-title">Наша продукция</div>
      <ul class="products-filter">
        <li><a href="#">Все</a></li>
        <li><a href="#">Йогурты и молоко</a></li>
        <li><a href="#">Мягкие сыры и творого</a></li>
        <li><a href="#">Сыры</a></li>
        <li><a href="#">Деликатесы</a></li>
      </ul>
    </div>
    <div class="products-list">
      <div class="product">
        <div class="product-tools">
          <a href="#"><i class="fa fa-heart-o"></i></a>
          <a href="#"><i class="fa fa-search"></i></a>
        </div>
        <div class="product-image">
          <img src="images/demo/product1.png" alt="">
        </div>
        <div class="product-name"><a href="#">Брынза</a></div>
        <div class="product-price">
          <span>до 725 руб.</span>
          <div class="price-hint">
            <a><i class="fa fa-info"></i></a>
            <div class="price-hint-content">
              <div class="price-hint-content__inner">
                Цены оптовым покупателям доступны после авторизации
                <a href="#" class="btn">Авторизироваться</a>
              </div>
            </div>
          </div>
        </div>
        <div class="product-text">
          из козьего молока “КУБИКИ В РАССОЛЕ”
        </div>
        <div class="product-bottom">
          <div class="product-buttons">
            <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
          </div>
          <div class="product-gallery">
            <a href="#"><img src="images/demo/product2.png" alt=""></a>
          </div>
          <div class="product-links">
            <a href="#">Перейти в каталог <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@@include('../includes/footer.html')