@@include('../includes/header.html', { "title": "Photo Gallery", "headerClass": "" })

<div class="container">
  <div class="breadcrumbs">
    <ul>
      <li><a href="#">Главная</a></li>
      <li><a href="#">О нас</a></li>
      <li><span>Фотогалерея</span></li>
    </ul>
  </div>
  <div class="wrapper">
    <main role="main" id="content" class="content">
      <div class="gallery">
        <div class="gallery__nav">
          <a href="#" class="active">Все</a>
          <a href="#">Производство</a>
          <a href="#">Ферма</a>
          <a href="#">Процесс</a>
        </div>
        <div class="gallery-list">
          <div class="gallery-item">
            <a href="images/demo/gallery1.jpg" data-fancybox="fallery1" data-caption="Полезно">
              <img src="images/demo/gallery1.jpg" alt="">
              <div class="gallery-item__content">
                <h3>Полезно</h3>
                <div>Наши продукты изготовлены из молока коз, пасущихся на экологически чистых пастбищах</div>
                <span><i class="fas fa-search-plus"></i></span>
              </div>
            </a>
          </div>
          <div class="gallery-item">
            <a href="images/demo/gallery2.jpg" data-fancybox="fallery1" data-caption="Полезно">
              <img src="images/demo/gallery2.jpg" alt="">
              <div class="gallery-item__content">
                <h3>Полезно</h3>
                <div>Наши продукты изготовлены из молока коз, пасущихся на экологически чистых пастбищах</div>
                <span><i class="fas fa-search-plus"></i></span>
              </div>
            </a>
          </div>
          <div class="gallery-item">
            <a href="images/demo/gallery3.jpg" data-fancybox="fallery1" data-caption="Полезно">
              <img src="images/demo/gallery3.jpg" alt="">
              <div class="gallery-item__content">
                <h3>Полезно</h3>
                <div>Наши продукты изготовлены из молока коз, пасущихся на экологически чистых пастбищах</div>
                <span><i class="fas fa-search-plus"></i></span>
              </div>
            </a>
          </div>
          <div class="gallery-item">
            <a href="images/demo/gallery4.jpg" data-fancybox="fallery1" data-caption="Полезно">
              <img src="images/demo/gallery4.jpg" alt="">
              <div class="gallery-item__content">
                <h3>Полезно</h3>
                <div>Наши продукты изготовлены из молока коз, пасущихся на экологически чистых пастбищах</div>
                <span><i class="fas fa-search-plus"></i></span>
              </div>
            </a>
          </div>
          <div class="gallery-item">
            <a href="images/demo/gallery5.jpg" data-fancybox="fallery1" data-caption="Полезно">
              <img src="images/demo/gallery5.jpg" alt="">
              <div class="gallery-item__content">
                <h3>Полезно</h3>
                <div>Наши продукты изготовлены из молока коз, пасущихся на экологически чистых пастбищах</div>
                <span><i class="fas fa-search-plus"></i></span>
              </div>
            </a>
          </div>
          <div class="gallery-item">
            <a href="images/demo/gallery6.jpg" data-fancybox="fallery1" data-caption="Полезно">
              <img src="images/demo/gallery6.jpg" alt="">
              <div class="gallery-item__content">
                <h3>Полезно</h3>
                <div>Наши продукты изготовлены из молока коз, пасущихся на экологически чистых пастбищах</div>
                <span><i class="fas fa-search-plus"></i></span>
              </div>
            </a>
          </div>
          <div class="gallery-item">
            <a href="images/demo/gallery7.jpg" data-fancybox="fallery1" data-caption="Полезно">
              <img src="images/demo/gallery7.jpg" alt="">
              <div class="gallery-item__content">
                <h3>Полезно</h3>
                <div>Наши продукты изготовлены из молока коз, пасущихся на экологически чистых пастбищах</div>
                <span><i class="fas fa-search-plus"></i></span>
              </div>
            </a>
          </div>
          <div class="gallery-item">
            <a href="images/demo/gallery2.jpg" data-fancybox="fallery1" data-caption="Полезно">
              <img src="images/demo/gallery2.jpg" alt="">
              <div class="gallery-item__content">
                <h3>Полезно</h3>
                <div>Наши продукты изготовлены из молока коз, пасущихся на экологически чистых пастбищах</div>
                <span><i class="fas fa-search-plus"></i></span>
              </div>
            </a>
          </div>
          <div class="gallery-item">
            <a href="images/demo/gallery3.jpg" data-fancybox="fallery1" data-caption="Полезно">
              <img src="images/demo/gallery3.jpg" alt="">
              <div class="gallery-item__content">
                <h3>Полезно</h3>
                <div>Наши продукты изготовлены из молока коз, пасущихся на экологически чистых пастбищах</div>
                <span><i class="fas fa-search-plus"></i></span>
              </div>
            </a>
          </div>
          <div class="gallery-item">
            <a href="images/demo/gallery4.jpg" data-fancybox="fallery1" data-caption="Полезно">
              <img src="images/demo/gallery4.jpg" alt="">
              <div class="gallery-item__content">
                <h3>Полезно</h3>
                <div>Наши продукты изготовлены из молока коз, пасущихся на экологически чистых пастбищах</div>
                <span><i class="fas fa-search-plus"></i></span>
              </div>
            </a>
          </div>
          <div class="gallery-item">
            <a href="images/demo/gallery5.jpg" data-fancybox="fallery1" data-caption="Полезно">
              <img src="images/demo/gallery5.jpg" alt="">
              <div class="gallery-item__content">
                <h3>Полезно</h3>
                <div>Наши продукты изготовлены из молока коз, пасущихся на экологически чистых пастбищах</div>
                <span><i class="fas fa-search-plus"></i></span>
              </div>
            </a>
          </div>
          <div class="show-more">
            <a href="#"><i class="fas fa-sync-alt"></i> Показать еще</a>
          </div>
        </div>
        @@include('../includes/_pagination.html')
      </div>
    </main>
  </div>
</div>
@@include('../includes/footer.html')