@@include('../includes/header.html', { "title": "Shop Catalog", "headerClass": "" })

<div class="container">
  <div class="breadcrumbs">
    <ul>
      <li><a href="#">Главная</a></li>
      <li><span>Каталог</span></li>
    </ul>
  </div>
  <div class="wrapper">
    <div class="shop-top">
      <div class="search-input">
        <form action="#">
          <div class="form-input">
            <input id="title-searchs-input" type="text" placeholder="Поиск" name="q" value="" size="40"
              class="form-control" maxlength="100" autocomplete="off">
            <button name="s" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </div>
      <div class="product-view">
        <div class="product-view__dropdown product-view__sorting">
          <span>Сортировка</span>
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="true">
              По умолчанию
              <i class="fa fa-angle-down"></i>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item dropdown-active" href="#">По умолчанию</a>
              <a class="dropdown-item" href="#">От дорогих к дешевым</a>
              <a class="dropdown-item" href="#">По популярности</a>
              <a class="dropdown-item" href="#">По имени</a>
            </div>
          </div>
        </div>
        <div class="product-view__dropdown product-view__pageSize">
          <span>Показать</span>
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="true">
              24
              <i class="fa fa-angle-down"></i>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item dropdown-active" href="#">24</a>
              <a class="dropdown-item" href="#">48</a>
              <a class="dropdown-item" href="#">100</a>
              <a class="dropdown-item" href="#">Все</a>
            </div>
          </div>
        </div>
        <div class="product-view__display clearfix">
          <a href="#grid" class="display__grid display--active" title="" data-toggle="tooltip" data-placement="bottom"
            data-original-title="Сетка"><i class="fa fa-th"></i></a>
          <a href="#list" class="display__list " title="" data-toggle="tooltip" data-placement="bottom"
            data-original-title="Список"><i class="fa fa-list"></i></a>
        </div>
      </div>
    </div>
    <div class="wrapper__inner">
      <aside id="sidebar" class="sidebar">
        <div class="sidebar__inner">
          <div class="sidebar-title">Категории</div>
          <div class="categories">
            <ul>
              <li class="has-child">
                <a href="#"><img src="images/demo/category/cat1.png">
                  <span>Йогурты и Молоко <span>(8)</span></span></a>
                <ul>
                  <li><a href="#">Брынза</a></li>
                  <li><a href="#">Творог</a></li>
                  <li><a href="#">Моцарела</a></li>
                  <li><a href="#">Брынза</a></li>
                  <li><a href="#">Творог</a></li>
                  <li><a href="#">Моцарела</a></li>
                </ul>
              </li>
              <li class="has-child"><a href="#"><img src="images/demo/category/cat2.png"><span>Мягкие сыры и творог
                    <span>(16)</span></span></a></li>
              <li class="has-child"><a href="#"><img src="images/demo/category/cat3.png"><span>Сыры
                    <span>(8)</span></span></a></li>
              <li class="has-child"><a href="#"><img src="images/demo/category/cat4.png"><span>Деликатесы
                    <span>(8)</span></span></a>
              </li>
            </ul>
          </div>
          <div class="filters">
            <div class="filters__body">
              <div class="filter filter-slider">
                <div class="filter__top">Стоимость</div>
                <div class="filter__body">
                  <div class="filter-slider__slider">
                    <span>Цена</span>
                    <div class="slider-wrapper">
                      <div class="slider-range" data-min-value="0" data-max-value="15000"></div>
                      <div class="slider-inputs">
                        <input type="text" class="form-control input-number-min" value="480" />
                        <input type="text" class="form-control input-number-max" value="15000" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="filter filter-list">
                <div class="filter__top">
                  Статус</div>
                <div class="filter__body">
                  <ul class="filter-list__list">
                    <li>
                      <a href="#">Есть в наличии</a>
                    </li>
                    <li>
                      <a href="#">Новинки</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="filters__buttons">
                <button class="btn btn-primary">Отфильтровать</button>
                <a href="#"><i>&times;</i> Сбросить все</a>
              </div>
            </div>
          </div>
          <div class="sidebar-products">
            <div class="sidebar-title">Бестселлеры</div>
            <div class="product-item">
              <div class="product-item__image">
                <a href="single-product.html">
                  <img src="images/demo/products/product_thumb1.jpg" alt="">
                </a>
              </div>
              <div class="product-item__info">
                <div class="product-item__title">
                  <a href="#">Йогурт</a>
                </div>
                <div class="product-price">
                  <span class="product-price-new">725 <span class="product-price-currency">&#8381;</span></span>
                  <span class="product-price-old">725 <span class="product-price-currency">&#8381;</span></span>
                </div>
              </div>
            </div>
            <div class="product-item">
              <div class="product-item__image">
                <a href="single-product.html">
                  <img src="images/demo/products/product_thumb2.jpg" alt="">
                </a>
              </div>
              <div class="product-item__info">
                <div class="product-item__title">
                  <a href="#">Йогурт</a>
                </div>
                <div class="product-price">
                  <span class="product-price-new">725 <span class="product-price-currency">&#8381;</span></span>
                  <span class="product-price-old">725 <span class="product-price-currency">&#8381;</span></span>
                </div>
              </div>
            </div>
            <div class="product-item">
              <div class="product-item__image">
                <a href="single-product.html">
                  <img src="images/demo/products/product_thumb1.jpg" alt="">
                </a>
              </div>
              <div class="product-item__info">
                <div class="product-item__title">
                  <a href="#">Йогурт</a>
                </div>
                <div class="product-price">
                  <span class="product-price-new">725 <span class="product-price-currency">&#8381;</span></span>
                  <span class="product-price-old">725 <span class="product-price-currency">&#8381;</span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <main role="main" id="content" class="content content-shop">
        <div class="product-list">
          <div class="product">
            <div class="product__wrapper">
              <div class="product-sticker2">
                <div class="stiсker stiсker-novinka">
                  Новинка
                </div>
              </div>
              <div class="product-tools">
                <a href="#"><i class="fa fa-heart-o"></i></a>
                <a href="#"><i class="fa fa-search"></i></a>
                <a class="link-preview" href="#"><i class="fas fa-expand-alt"></i></a>
              </div>
              <div class="product-image">
                <a href="#"><img src="images/demo/products/product_preview1.jpg" alt=""></a>
              </div>
              <div class="product-name"><a href="#">Брынза</a></div>
              <div class="product-text">
                из козьего молока<br> “КУБИКИ В РАССОЛЕ”
              </div>
              <div class="product-info">
                <div class="product-price">
                  <span class="product-price-new">2725 &#8381;</span>
                  <span class="product-price-old">725 &#8381;</span>
                </div>
                <div class="product-buttons">
                  <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="product__wrapper">
              <div class="product-tools">
                <a href="#"><i class="fa fa-heart-o"></i></a>
                <a href="#"><i class="fa fa-search"></i></a>
                <a class="link-preview" href="#"><i class="fas fa-expand-alt"></i></a>
              </div>
              <div class="product-image">
                <a href="#"><img src="images/demo/products/product_preview2.jpg" alt=""></a>
              </div>
              <div class="product-name"><a href="#">Брынза</a></div>
              <div class="product-text">
                из козьего молока<br> “КУБИКИ В РАССОЛЕ”
              </div>
              <div class="product-info">
                <div class="product-price">
                  <span>725 &#8381;</span>
                </div>
                <div class="product-buttons">
                  <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="product__wrapper">
              <div class="product-tools">
                <a href="#"><i class="fa fa-heart-o"></i></a>
                <a href="#"><i class="fa fa-search"></i></a>
                <a class="link-preview" href="#"><i class="fas fa-expand-alt"></i></a>
              </div>
              <div class="product-image">
                <a href="#"><img src="images/demo/products/product_preview3.jpg" alt=""></a>
              </div>
              <div class="product-name"><a href="#">Брынза</a></div>
              <div class="product-text">
                из козьего молока<br> “КУБИКИ В РАССОЛЕ”
              </div>
              <div class="product-info">
                <div class="product-price">
                  <span>725 &#8381;</span>
                </div>
                <div class="product-buttons">
                  <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="product__wrapper">
              <div class="product-tools">
                <a href="#"><i class="fa fa-heart-o"></i></a>
                <a href="#"><i class="fa fa-search"></i></a>
                <a class="link-preview" href="#"><i class="fas fa-expand-alt"></i></a>
              </div>
              <div class="product-image">
                <a href="#"><img src="images/demo/products/product_preview2.jpg" alt=""></a>
              </div>
              <div class="product-name"><a href="#">Брынза</a></div>
              <div class="product-text">
                из козьего молока<br> “КУБИКИ В РАССОЛЕ”
              </div>
              <div class="product-info">
                <div class="product-price">
                  <span>725 &#8381;</span>
                </div>
                <div class="product-buttons">
                  <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="product__wrapper">
              <div class="product-sticker2">
                <div class="stiсker stiсker-akcia">
                  Акция
                </div>
              </div>
              <div class="product-tools">
                <a href="#"><i class="fa fa-heart-o"></i></a>
                <a href="#"><i class="fa fa-search"></i></a>
                <a class="link-preview" href="#"><i class="fas fa-expand-alt"></i></a>
              </div>
              <div class="product-image">
                <a href="#"><img src="images/demo/products/product_preview1.jpg" alt=""></a>
              </div>
              <div class="product-name"><a href="#">Брынза</a></div>
              <div class="product-text">
                из козьего молока<br> “КУБИКИ В РАССОЛЕ”
              </div>
              <div class="product-info">
                <div class="product-price">
                  <span>725 &#8381;</span>
                </div>
                <div class="product-buttons">
                  <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="product__wrapper">
              <div class="product-sticker2">
                <div class="stiсker stiсker-novinka">
                  Новинка
                </div>
              </div>
              <div class="product-tools">
                <a href="#"><i class="fa fa-heart-o"></i></a>
                <a href="#"><i class="fa fa-search"></i></a>
                <a class="link-preview" href="#"><i class="fas fa-expand-alt"></i></a>
              </div>
              <div class="product-image">
                <a href="#"><img src="images/demo/products/product_preview1.jpg" alt=""></a>
              </div>
              <div class="product-name"><a href="#">Брынза</a></div>
              <div class="product-text">
                из козьего молока<br> “КУБИКИ В РАССОЛЕ”
              </div>
              <div class="product-info">
                <div class="product-price">
                  <span>725 &#8381;</span>
                </div>
                <div class="product-buttons">
                  <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="product__wrapper">
              <div class="product-sticker2">
                <div class="stiсker stiсker-novinka">
                  Новинка
                </div>
              </div>
              <div class="product-tools">
                <a href="#"><i class="fa fa-heart-o"></i></a>
                <a href="#"><i class="fa fa-search"></i></a>
                <a class="link-preview" href="#"><i class="fas fa-expand-alt"></i></a>
              </div>
              <div class="product-image">
                <a href="#"><img src="images/demo/products/product_preview1.jpg" alt=""></a>
              </div>
              <div class="product-name"><a href="#">Брынза</a></div>
              <div class="product-text">
                из козьего молока<br> “КУБИКИ В РАССОЛЕ”
              </div>
              <div class="product-info">
                <div class="product-price">
                  <span>725 &#8381;</span>
                </div>
                <div class="product-buttons">
                  <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="product__wrapper">
              <div class="product-sticker2">
                <div class="stiсker stiсker-novinka">
                  Новинка
                </div>
              </div>
              <div class="product-tools">
                <a href="#"><i class="fa fa-heart-o"></i></a>
                <a href="#"><i class="fa fa-search"></i></a>
                <a class="link-preview" href="#"><i class="fas fa-expand-alt"></i></a>
              </div>
              <div class="product-image">
                <a href="#"><img src="images/demo/products/product_preview1.jpg" alt=""></a>
              </div>
              <div class="product-name"><a href="#">Брынза</a></div>
              <div class="product-text">
                из козьего молока<br> “КУБИКИ В РАССОЛЕ”
              </div>
              <div class="product-info">
                <div class="product-price">
                  <span>725 &#8381;</span>
                </div>
                <div class="product-buttons">
                  <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="product__wrapper">
              <div class="product-sticker2">
                <div class="stiсker stiсker-novinka">
                  Новинка
                </div>
              </div>
              <div class="product-tools">
                <a href="#"><i class="fa fa-heart-o"></i></a>
                <a href="#"><i class="fa fa-search"></i></a>
                <a class="link-preview" href="#"><i class="fas fa-expand-alt"></i></a>
              </div>
              <div class="product-image">
                <a href="#"><img src="images/demo/products/product_preview1.jpg" alt=""></a>
              </div>
              <div class="product-name"><a href="#">Брынза</a></div>
              <div class="product-text">
                из козьего молока<br> “КУБИКИ В РАССОЛЕ”
              </div>
              <div class="product-info">
                <div class="product-price">
                  <span>725 &#8381;</span>
                </div>
                <div class="product-buttons">
                  <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination">
          <a class="pagination__prev" href="#">
            <span><i class="fas fa-long-arrow-alt-left"></i></span> Назад</a>
          <span class="link-page active">1</span>
          <a class="link-page" href="#">2</a>
          <a class="link-page" href="#">3</a>
          <a class="link-page" href="#">4</a>
          <a class="link-page" href="#">5</a>
          <a class="link-page" href="#">6</a>
          <a class="link-page" href="#">7</a>
          <a class="pagination__next" href="#">
            Вперед <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
        </div>
      </main>
    </div>
  </div>
</div>
<section class="help-section" style="background-image:url(images/help_form.jpg)">
  <div class="container">
    <form action="" class="help-form">
      <div class="col-text">
        <h2>Сложно ОПРЕДЕЛИТЬСЯ?</h2>
        <span>Оставьте свой номер телефона и наш консультант поможет вам с выбором наиболее подходящих товаров:</span>
      </div>
      <div class="form-input">
        <input class="form-control" type="tel" placeholder="Ваш телефон" tabindex="0">
        <button tabindex="0">Отправить</button>
      </div>
    </form>
    <div class="help-phone">
      <span>Или позвоните по номеру:</span>
      <a href="tel:88009685887" tabindex="0"><i class="appicon appicon-phone-dark"></i>
        8-800-968-58-87</a>
    </div>
  </div>
</section>
@@include('../includes/footer.html')