@@include('../includes/header.html', { "title": "Single Product", "headerClass": "" })

<div class="container">
  <div class="breadcrumbs">
    <ul>
      <li><a href="#">Главная</a></li>
      <li><a href="#">Каталог</a></li>
      <li><a href="#">Йогурты и молоко</a></li>
      <li><a href="#">Брынза</a></li>
    </ul>
  </div>
  <div class="wrapper">
    <div class="wrapper__inner">
      <aside id="sidebar" class="sidebar">
        <div class="sidebar__inner">
          <div class="sidebar-title">Категории</div>
          <div class="categories">
            <ul>
              <li class="has-child active">
                <a href="#"><img src="images/demo/category/cat1.png">
                  <span>Йогурты и Молоко <span>(8)</span></span></a>
                <ul>
                  <li class="active"><a href="#">Брынза</a></li>
                  <li><a href="#">Творог</a></li>
                  <li><a href="#">Моцарела</a></li>
                  <li><a href="#">Брынза</a></li>
                  <li><a href="#">Творог</a></li>
                  <li><a href="#">Моцарела</a></li>
                </ul>
              </li>
              <li class="has-child"><a href="#"><img src="images/demo/category/cat2.png"><span>Мягкие сыры и творог
                    <span>(16)</span></span></a></li>
              <li class="has-child"><a href="#"><img src="images/demo/category/cat3.png"><span>Сыры
                    <span>(8)</span></span></a></li>
              <li class="has-child"><a href="#"><img src="images/demo/category/cat4.png"><span>Деликатесы
                    <span>(8)</span></span></a>
              </li>
            </ul>
          </div>
          <div class="call-us">
            <img src="images/demo/call.jpg" alt="">
            <div class="call-us__phone">
              <a href="tel:8-800-968-58-87"><i class="appicon appicon-phone-dark"></i> 8-800-968-58-87</a>
            </div>
          </div>
        </div>
      </aside>
      <main role="main" id="content" class="content">
        <div class="single-product">
          <div class="row">
            <div class="col-md-6">
              <div id="product-gallery" class="product-images">
                <div class="product-sticker">
                  <div class="sticker-novinka">
                    <p><span>Новинка</span></p>
                  </div>
                </div>
                <div class="product-images__preview image-preview">
                  <a href="https://get-sports.ru/upload/iblock/566/5665ef48f59c30b77ad79ed8c3022dbd.jpg" class="MagicZoom" id="galleryProduct1">
                    <img src="https://get-sports.ru/upload/iblock/566/5665ef48f59c30b77ad79ed8c3022dbd.jpg" alt="" />
                  </a>
                </div>
                <div class="product-images__list image-list" data-direction="row">
                  <div class="item current" data-zoom-size="345">
                    <a data-zoom-id="galleryProduct1" href="http://img.funtema.ru/16102018/dog/1.jpg"
                      data-preview="http://img.funtema.ru/16102018/dog/1.jpg" data-source="image">
                      <img src="http://img.funtema.ru/16102018/dog/1.jpg" alt="" />
                    </a>
                  </div>
                  <div class="item" data-zoom-size="345">
                    <a data-zoom-id="galleryProduct1" href="images/demo/products/product_thumb2.jpg"
                      data-preview="images/demo/products/product_thumb2.jpg" data-source="image">
                      <img src="images/demo/products/product_thumb2.jpg" alt="" />
                    </a>
                  </div>
                  <div class="item" data-zoom-size="345">
                    <a data-zoom-id="galleryProduct1" href="images/demo/products/product_thumb1.jpg"
                      data-preview="images/demo/products/product_thumb1.jpg" data-source="image">
                      <img src="images/demo/products/product_thumb1.jpg" alt="" />
                    </a>
                  </div>
                  <div class="item" data-zoom-size="345">
                    <a data-zoom-id="galleryProduct1" href="images/demo/products/product_thumb2.jpg"
                      data-preview="images/demo/products/product_thumb2.jpg" data-source="image">
                      <img src="images/demo/products/product_thumb2.jpg" alt="" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="single-product__tools">
                <a href="#" title="Добавить в избранное" class="btn-like"><i class="far fa-heart"></i> В избранное</a>
                <a href="#" title="Сравнить" class="btn-compare"><i class="far fa-chart-bar"></i> Сравнить</a>
              </div>
              <div class="single-product__share">
                <span><i class="fa fa-share-alt"></i> Поделиться</span>
                <div class="share-list">
                  <a href="#" title="instagram"><i class="appicon appicon-share-instagram"></i></a>
                  <a href="#" title="facebook"><i class="appicon appicon-share-facebook"></i></a>
                  <a href="#" title="youtube"><i class="appicon appicon-share-youtube"></i></a>
                  <a href="#" title="twitter"><i class="appicon appicon-share-twitter"></i></a>
                  <a href="#" title="mail"><i class="appicon appicon-share-mail"></i></a>
                  <a href="#" title="telegram"><i class="appicon appicon-share-telegram"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <ul class="nav single-product__links">
                <li class="nav-item">
                  <a class="nav-link active" href="#description">Описание</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#reviews">Отзывы (3)</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#recept">Рецепты</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#recomend">Рекомендуем</a>
                </li>
              </ul>
              <div class="single-product__top">
                <div class="single-product__title">
                  <h1 class="page-heading">Брынза 3,2 - 6 %</h1>
                  <div class="product-rate">
                    <div class="stars star-4"></div>
                  </div>
                </div>
                <p class="single-product__text">из козьего молока “КУБИКИ В РАССОЛЕ”</p>
                <div class="single-product__code">Артикул: 00-00002508</div>
              </div>
              <div class="single-product__price">
                <div class="row align-items-center">
                  <div class="col-price col-md-7">
                    <div class="product-price">
                      <span>725 <span class="product-price-currency">&#8381;</span></span><span class="product-price-unit">уп.</span>
                      <del class="product-price-old">1725 <span class="product-price-currency">&#8381;</span></del>
                      </div>
                    <div class="col-price__text">
                      <p>10 и более: 650 руб.</p>
                      <p>20 и более: 590 руб.</p>
                    </div>
                  </div>
                  <div class="col-options col-md-5">
                    <div class="col-options__top">
                      <span>Расфасовка:</span>
                      <div class="price-hint">
                        <a><i class="fa fa-info"></i></a>
                        <div class="price-hint-content">
                          <div class="price-hint-content__inner">
                            +-7%<br>
                            Вес ориентировочный и уточняеться при комплектации заказа
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="select-options">
                      <select>
                        <option>500 г</option>
                        <option>1500 г</option>
                        <option>2500 г</option>
                        <option>3500 г</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="single-product__promo">
                  <strong>-10%</strong> скидка на первый заказ
                </div>
              </div>
              <div class="single-product__counter">
                <div class="row align-items-center">
                  <div class="col-md-5">
                    <div class="input-counter">
                      <button type="button" class="btn btn-minus btn-number" data-type="minus" data-field="quant[2]">
                        -
                      </button>
                      <div class="input-group-text">
                        <input type="text" name="quant[2]" class="form-control input-number input-area" value="1"
                          data-min="1" data-max="100000" data-step="1" data-unit="">
                      </div>
                      <button type="button" class="btn btn-plus btn-number" data-type="plus" data-field="quant[2]">
                        +
                      </button>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="single-product__stock">
                      <a class="in-stock"><i class="fas fa-check"></i> <span>Есть в наличии</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-product__buttons">
                <button class="btn btn-primary add-to-cart" title="Положить в корзину">
                  <i class="appicon appicon-cart"></i>
                  В корзину
                </button>
                <button class="btn btn-link quick-buy" title="Купить в один клик">
                  Купить в 1 клик
                </button>
              </div>
            </div>
          </div>
          <div class="single-product__content">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab"
                  aria-controls="description" aria-selected="true">Описание</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab"
                  aria-controls="reviews" aria-selected="false">Отзывы (0)</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                <div class="post">
                  <h3>Состав</h3>
                  <p>Даже когда Вы буквально растворяетесь в чистейшем удовольствии от еды, воспользуйтесь этим
                    моментом,
                    чтобы с профессиональной точностью оценить вкус. В статье Вы узнаете больше об этом и в итоге
                    научитесь разбираться в тончайших нюансах вкуса как настоящий профессионал.</p>
                  <h3>Рекомендации</h3>
                  <p>Даже когда Вы буквально растворяетесь в чистейшем удовольствии от еды, воспользуйтесь этим
                    моментом,
                    чтобы с профессиональной точностью оценить вкус. В статье Вы узнаете больше об этом и в итоге
                    научитесь разбираться в тончайших нюансах вкуса как настоящий профессионал.</p>
                </div>
              </div>
              <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                ...
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <section id="recept" class="recept">
      <h2 class="section-title">
        Рецепты с брынзой и полезные советы
      </h2>
      <div class="recept-item">
        <div class="recept-item__image">
          <a href="#"><img src="images/demo/recept1.jpg" alt=""></a>
          <a data-toggle="collapse" href="#fullRecept" role="button" aria-expanded="false" aria-controls="fullRecept"
            class="link-more collapsed">ЕЩЁ <i class="fa fa-angle-down"></i></a>
        </div>
        <div class="recept-item__text">
          <div class="post">
            <h3>Ингредиенты</h3>
            <ul>
              <li>Сыр твердый - 250 г</li>
              <li>Брынза -100 г</li>
              <li>Сметана - 2 ст. л.</li>
              <li>Сливочное масло - 25 г</li>
            </ul>
            <h3>Рекомендации</h3>
            <p>Постепенно добавить муку и замесить тесто. Тесто должно быть очень мягким, слегка липким, но за счет
              масла оно не прилипает к рукам. Очень похоже на дрожжевое, такое же дышащее. Поэтому муку добавлять не
              сразу всю, а постепенно, возможно, она еще останется.</p>
            <div class="collapse" id="fullRecept">
              <p>Постепенно добавить муку и замесить тесто. Тесто должно быть очень мягким, слегка липким, но за
                счет
                масла оно не прилипает к рукам. Очень похоже на дрожжевое, такое же дышащее. Поэтому муку добавлять
                не
                сразу всю, а постепенно, возможно, она еще останется.</p>
              <p>Постепенно добавить муку и замесить тесто. Тесто должно быть очень мягким, слегка липким, но за
                счет
                масла оно не прилипает к рукам. Очень похоже на дрожжевое, такое же дышащее. Поэтому муку добавлять
                не
                сразу всю, а постепенно, возможно, она еще останется.</p>
              <p>Постепенно добавить муку и замесить тесто. Тесто должно быть очень мягким, слегка липким, но за
                счет
                масла оно не прилипает к рукам. Очень похоже на дрожжевое, такое же дышащее. Поэтому муку добавлять
                не
                сразу всю, а постепенно, возможно, она еще останется.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  @@include('../includes/_benefits.html')
  <section id="recomend" class="recomend-products">
    <h2 class="section-title">Рекомендуем с этим товаром</h2>
    <div class="recomend-list product-list">
      <div class="product">
        <div class="product__wrapper">
          <div class="product-sticker2">
            <div class="stiсker-nivinka">
              Новинка
            </div>
          </div>
          <div class="product-tools">
            <a href="#"><i class="fa fa-heart-o"></i></a>
            <a href="#"><i class="fa fa-search"></i></a>
            <a class="link-preview" href="#"><i class="fas fa-expand-alt"></i></a>
          </div>
          <div class="product-image">
            <img src="images/demo/products/product_preview1.jpg" alt="">
          </div>
          <div class="product-name"><a href="#">Брынза</a></div>
          <div class="product-text">
            из козьего молока<br> “КУБИКИ В РАССОЛЕ”
          </div>
          <div class="col-options">
            <div class="col-options__top">
              <span>Расфасовка:</span>
            </div>
            <div class="select-options">
              <select>
                <option>500 г</option>
                <option>1500 г</option>
                <option>2500 г</option>
                <option>3500 г</option>
              </select>
            </div>
          </div>
          <div class="product-info">
            <div class="product-price">
              <span class="product-price-new">725 &#8381;</span>
              <del class="product-price-old">1725 &#8381;</del>
            </div>
            <div class="product-buttons">
              <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="product__wrapper">
          <div class="product-tools">
            <a href="#"><i class="fa fa-heart-o"></i></a>
            <a href="#"><i class="fa fa-search"></i></a>
            <a class="link-preview" href="#"><i class="fas fa-expand-alt"></i></a>
          </div>
          <div class="product-image">
            <img src="images/demo/products/product_preview3.jpg" alt="">
          </div>
          <div class="product-name"><a href="#">Брынза</a></div>
          <div class="product-text">
            из козьего молока<br> “КУБИКИ В РАССОЛЕ”
          </div>
          <div class="col-options">
            <div class="col-options__top">
              <span>Расфасовка:</span>
            </div>
            <div class="select-options">
              <select>
                <option>500 г</option>
                <option>1500 г</option>
                <option>2500 г</option>
                <option>3500 г</option>
              </select>
            </div>
          </div>
          <div class="product-info">
            <div class="product-price">
              <span>725 &#8381;</span>
            </div>
            <div class="product-buttons">
              <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="product__wrapper">
          <div class="product-tools">
            <a href="#"><i class="fa fa-heart-o"></i></a>
            <a href="#"><i class="fa fa-search"></i></a>
            <a class="link-preview" href="#"><i class="fas fa-expand-alt"></i></a>
          </div>
          <div class="product-image">
            <img src="images/demo/products/product_preview1.jpg" alt="">
          </div>
          <div class="product-name"><a href="#">Брынза</a></div>
          <div class="product-text">
            из козьего молока<br> “КУБИКИ В РАССОЛЕ”
          </div>
          <div class="product-info">
            <div class="product-price">
              <span>725 &#8381;</span>
            </div>
            <div class="product-buttons">
              <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="product__wrapper">
          <div class="product-sticker2">
            <div class="stiсker stiсker-novinka">
              Новинка
            </div>
          </div>
          <div class="product-tools">
            <a href="#"><i class="fa fa-heart-o"></i></a>
            <a href="#"><i class="fa fa-search"></i></a>
            <a class="link-preview" href="#"><i class="fas fa-expand-alt"></i></a>
          </div>
          <div class="product-image">
            <img src="images/demo/products/product_preview2.jpg" alt="">
          </div>
          <div class="product-name"><a href="#">Брынза</a></div>
          <div class="product-text">
            из козьего молока<br> “КУБИКИ В РАССОЛЕ”
          </div>
          <div class="product-info">
            <div class="product-price">
              <span>725 &#8381;</span>
            </div>
            <div class="product-buttons">
              <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="product__wrapper">
          <div class="product-tools">
            <a href="#"><i class="fa fa-heart-o"></i></a>
            <a href="#"><i class="fa fa-search"></i></a>
            <a class="link-preview" href="#"><i class="fas fa-expand-alt"></i></a>
          </div>
          <div class="product-image">
            <img src="images/demo/products/product_preview3.jpg" alt="">
          </div>
          <div class="product-name"><a href="#">Брынза</a></div>
          <div class="product-text">
            из козьего молока<br> “КУБИКИ В РАССОЛЕ”
          </div>
          <div class="product-info">
            <div class="product-price">
              <span>725 &#8381;</span>
            </div>
            <div class="product-buttons">
              <button><i class="appicon appicon-cart"></i> <span>Купить</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
@@include('../includes/footer.html')