.appicon {
  display: inline-block;
  text-indent: -9999em;
  background: url(../images/sprite.png) no-repeat;

  &-facebook {
    background-position: -77px 0;
    width: 29px;
    height: 29px;
  }
  &-vk {
    background-position: -115px 0;
    width: 29px;
    height: 29px;
  }
  &-twitter {
    background-position: -154px 0;
    width: 29px;
    height: 29px;
  }
  &-youtube {
    background-position: -192px 0;
    width: 29px;
    height: 29px;
  }
  &-ok {
    background-position: -230px 0;
    width: 29px;
    height: 29px;
  }

  &-user {
    background-position: -54px 0;
    width: 20px;
    height: 20px;
  }
  &-phone {
    background-position: -33px 0;
    width: 17px;
    height: 23px;
  }
  &-truck {
    background-position: 0 0;
    width: 28px;
    height: 18px;
  }

  &-search {
    background-position: -1px -26px;
    width: 19px;
    height: 18px;
  }
  &-cart {
    background-position: -22px -27px;
    width: 23px;
    height: 27px;
  }
}
