.appicon {
  display: inline-block;
  text-indent: -9999em;
  background: url(../images/sprite.png) no-repeat;

  &-facebook {
    background-position: -140px 0;
    width: 26px;
    height: 26px;
  }

  &-twitter {
    background-position: -79px 0;
    width: 26px;
    height: 26px;
  }

  &-youtube {
    background-position: -110px 0;
    width: 26px;
    height: 26px;
  }

  &-user {
    background-position: -54px 0;
    width: 20px;
    height: 20px;
  }

  &-user-dark {
    background-position: -99px -60px;
    width: 20px;
    height: 20px;
  }

  &-phone {
    background-position: -33px 0;
    width: 17px;
    height: 23px;
  }

  &-phone-dark {
    background-position: -78px -60px;
    width: 17px;
    height: 23px;
  }

  &-phone-white {
    background-position: -124px -30px;
    width: 23px;
    height: 32px;
  }

  &-truck {
    background-position: 0 0;
    width: 28px;
    height: 18px;
  }

  &-truck-dark {
    background-position: -45px -60px;
    width: 28px;
    height: 18px;
  }

  &-search {
    background-position: -1px -26px;
    width: 19px;
    height: 18px;
  }

  &-cart {
    background-position: -22px -27px;
    width: 23px;
    height: 27px;
  }

  &-cart-dark {
    background-position: -22px -55px;
    width: 21px;
    height: 25px;
  }

  &-time {
    background-position: -68px -31px;
    width: 23px;
    height: 22px;
  }

  &-mail {
    background-position: -94px -33px;
    width: 23px;
    height: 17px;
  }

  &-exit {
    background-position: -150px -34px;
    width: 25px;
    height: 24px;
  }

  &-share-instagram {
    background-position: 0 -82px;
    width: 24px;
    height: 24px;
  }

  &-share-facebook {
    background-position: -35px -82px;
    width: 24px;
    height: 24px;
  }

  &-share-youtube {
    background-position: -70px -82px;
    width: 24px;
    height: 24px;
  }

  &-share-twitter {
    background-position: -104px -82px;
    width: 24px;
    height: 24px;
  }

  &-share-mail {
    background-position: -139px -82px;
    width: 24px;
    height: 24px;
  }

  &-share-telegram {
    background-position: -174px -82px;
    width: 24px;
    height: 24px;
  }
}